{% extends 'base-espace-client.html.twig' %}

{% form_theme form 'form/theme/the_hiboo.html.twig' %}

{% import _self as formMacros %}
{% macro printParticipantsRow(participant) %}
    <div class="flex-column my-1 ml-1">
        <div class="input-group participant-proto-wrapper">
            {{ form_widget(participant.email) }}
            <a class="remove_participant btn btn-danger ml-1 text-white small"><span class="fa fa-close"></span></a>
        </div>
    </div>
{% endmacro %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row mt-4">
        <div class="col-lg-12 ">
            <a href="{{ path('app_espace_client_meeting_list') }}" class="text-green"> Mes réunions </a> <span class="mx-2"> > </span> {{title}}
        </div>
    </div>

    <div class="form-wrapper">
        {{ form_start(form) }}
            <h5 class="encart_home_head mb-4">
                {{title}}
            </h5>

            <div class="justify-content-center ">
                <div class="text-center ">
                    {% include 'shared/flash_alert/index.html.twig' %}
                </div>
            </div>

            <div class="row mt-4  pt-2">
                <div class="col-12">{{ form_label(form.subject) }}</div>
                <div class="col-12">{{ form_widget(form.subject) }}</div>
            </div>

            <div class="row mt-4  pt-2">
                <div class="col-12">{{ form_label(form.description) }}</div>
                <div class="col-12">{{ form_widget(form.description) }}</div>
            </div>

            <div class="row mt-4">
                <div class="col-lg-4 pt-3">
                    {{ form_label(form.date) }}
                     <div class="col-auto pl-0">
                        <label class="sr-only" for="inlineFormInputGroup">Username</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-calendar text-danger" aria-hidden="true"></i>
                                </div>
                            </div>
                             {{ form_widget(form.date) }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 pt-3">
                     <label>Durée de la réunion</label>
                    <div class="row mb-3">
                        <div class="col input-group">
                                {{ form_widget(form.durationH) }}
                            <div class="input-group-append">
                                <span class="btn btn-info">h</span>
                            </div>
                        </div>
                        <div class="col input-group">
                            {{ form_widget(form.durationM) }}
                            <div class="input-group-append">
                                <span class="btn btn-info" type="submit">min</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="mt-5">
                 <h5 class="encart_home_head mb-4">Réunion publique ou privée</h5>
            </div>
            <div class="row mt-4 pb-4">
                <div class="col-sm-12 pt-2">
                    {{form_label(form.password)}}
                </div>
                <div class="col-sm-12">{{ form_widget(form.password) }}</div>
            </div>


            <div class="mt-5">
                <h5 class="encart_home_head mb-4">Inviter des participants</h5>
            </div>

            <div class="row mt-4">
                <div class="col-12">
                    <div class="participant-data-proto-wrapper"
                        data-prototype="{{ form_widget(form.participants.vars.prototype)|e('html_attr') }}"
                        data-index="{{ form.participants|length }}" >
                    </div>
                    {% for participant in form.participants %}
                        {{ formMacros.printParticipantsRow(participant) }}
                    {% endfor %}
                </div>
                <div class="col-12 pt-2 text-center">
                    <button class="btn btn-success pt-1 pb-2 mt-2" id="add_participant" title="Ajouter participant">
                        <span class="btn-icon-right"><i class="fa fa-plus"></i> Ajouter participant </span>
                    </button>
                </div>
            </div>

            <hr>
            <div>
                <button type="submit" class="btn  btn-large py-2 login">
                    <span class="font-weight-bold">{{title}}</span>
                </button>
                <button type="reset" class="btn  btn-large py-2 btn-outline-danger signin">
                    <span class="font-weight-bold ">Annuler</span>
                </button>
            </div>
        {{ form_end(form) }}
    </div>



{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/moment/moment-with-locales.min.js')}}"></script>
    <script src="{{ asset('build/js/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js')}}"></script>
    <script>
        // Date Picker
        $(document).ready(function() {
            $('#meeting_date').bootstrapMaterialDatePicker({
                format : 'DD/MM/YYYY HH:mm',
                lang : 'fr',
                weekStart : 1,
                cancelText : 'ANNULER',
                okText : 'VALIDER'
            });
        });
    </script>
{% endblock %}
