<table class="table table-hover table-striped verticle-middle dataTable_meeting" id="dataTable_meeting" width="99%">
    <thead>
    <tr>
        <td class="encart_home_head">#</td>
        <td class="encart_home_head ">Créateur</td>
        <td class="encart_home_head">Lien</td>
        <td class="encart_home_head ">Etat</td>
        <td class="encart_home_head">Date de création</td>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for row in meetings|reverse %}
        <tr id="meeting_{{ row.id }}">
            <td>{{ row.id }}</td>
            <td>{{ row.user.email }}</td>
            <td class="link_identifiant">
                <span class="d-none">{{ row.link }}</span>
                <input class="input_copy" type="text" id="linkInput_{{ row.id }}" value="{{ row.link }}" readonly>
            </td>
            <td>{{ row.state}}</td>
            <td>{{ row.CreatedAt|date("d/m/yy") }}</td>
            <td>
                <div class="actions link_identifiant">
                    <button class="btn-icon-right btn btn-danger encart_home_body"
                            type="button"
                            onclick="return copyToPaste({{ row.id }});"
                            data-target="#link-meeting">
                        Copier lien <i class="fa fa-files-o" aria-hidden="true"></i>
                    </button>
                    <a href="#" data-meeting="{{ row.id }}" class="delete_meeting_bo">
                        <i class="fa fa-trash text-danger" aria-hidden="true"></i>
                    </a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>