{% extends 'base-espace-client.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-7">
            <span class="text-green">Gestions des réunions</span>
        </div>
        <div class="col-sm-5">
            <div class="w-100 text-right">
                <a class="btn  btn-large py-2 login" href="{{ path('app_espace_admin_meeting_add') }}" role="button">
                    <span class="fa fa-plus"></span>
                    <span class="d-none d-sm-inline-block">
                        Ajouter une réunion
                    </span>
                </a>
            </div>
        </div>
    </div>
    <div class="container mt-5" id="list-meetings">

        <div class="row">
            <div class="col-lg-3 list_meeting_head" style="display: flex; justify-content: flex-start">
                <span>{{ knp_pagination_sortable(meetings, 'Créateur', 'user.email') }}
            </div>
            <div class="col-lg-3 list_meeting_head "  style="display: flex; justify-content: flex-start">
                <span>{{ knp_pagination_sortable(meetings, 'Lien', 'identifiant') }}</span>
            </div>
            <div class="col-lg-2 list_meeting_head"><span>{{ knp_pagination_sortable(meetings, 'Statut', 'state') }}</span></div>
            <div class="col-lg-4 list_meeting_head">
                <div class="contain">
                    <div class="row">
                        <div class="col-8"><span>{{ knp_pagination_sortable(meetings, 'Date de création', 'CreatedAt') }}</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% for row in meetings|reverse %}
                <div class="col-sm-6 col-lg-12  mt-2">
                    <div class="row card-borderer mx-1">
                        <div class="col-lg-3 d-flex-center-left">
                            <span>{{ row.user.email }}</span>
                        </div>
                        <div class="col-lg-3 d-flex-center-left">
                            <input class="input_copy w-100" type="text" id="linkInput_{{ row.id }}" value="{{ baseUrl }}/reunion/{{ row.identifiant }}" readonly>
                        </div>
                        <div class="col-lg-2 d-flex-center-left">
                            {% set state = '<i class="fa fa-circle" style="color: #ffaa2b"></i> En attente' %}

                            {% if row.state == 2 %}
                                {% set state = '<i class="fa fa-circle " style="color: #dc3545"></i> Terminé' %}
                            {% elseif row.state == 1  %}
                                {% set state = '<i class="fa fa-circle text-green"></i> En cours' %}
                            {% endif %}

                            {{ state |raw }}
                        </div>
                        <div class="col-lg-4 actions link_identifiant d-flex-center-right">                           
                            <div class="w-100">
                                <div class="pull-left">
                                    {{ row.CreatedAt|date("d/m/yy") }}
                                </div>
                                <div class="pull-right">
                                    <button class="btn btn-danger"
                                            type="button"
                                            onclick="return copyToPaste({{ row.id }});"
                                            data-target="#link-meeting">
                                        <span class="d-none d-sm-inline-block">Copier lien</span> 
                                        <span class="fa fa-files-o" aria-hidden="true"></span>
                                    </button>
                                    <a href="#" data-meeting="{{ row.id }}" class="btn delete_meeting_bo">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="list_pagination">{{ knp_pagination_render(meetings) }}</div>


    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <link href="{{ asset('build/css/toastr.min.css') }}" rel="stylesheet"/>
    <script src="{{ asset('build/js/toastr.min.js') }}"></script>
    <script>
        function copyToPaste(id) {
            var copyText = document.getElementById("linkInput_" + id);
            copyText.select();
            copyText.setSelectionRange(0, 99999);
            document.execCommand("copy");

            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "2000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };

            toastr["success"]("Lien de la réunion copié.")
        }
    </script>
{% endblock %}