<div class="row">
    <div class="col-lg-3 list_meeting_head" style="display: flex; justify-content: flex-start">
                <span>{{ knp_pagination_sortable(meetings, 'Créateur', 'user.email') }}
    </div>
    <div class="col-lg-3 list_meeting_head "  style="display: flex; justify-content: flex-start">
        <span>{{ knp_pagination_sortable(meetings, 'Lien', 'identifiant') }}</span>
    </div>
    <div class="col-lg-2 list_meeting_head"><span>{{ knp_pagination_sortable(meetings, 'Statut', 'state') }}</span></div>
    <div class="col-lg-4 list_meeting_head">
        <div class="contain">
            <div class="row">
                <div class="col-8"><span>{{ knp_pagination_sortable(meetings, 'Date de création', 'CreatedAt') }}</span></div>
            </div>
        </div>
    </div>
</div>
{% for row in meetings|reverse %}
    <div class="row list_meeting_border_radius mt-2"
         style="display: flex;
                 justify-content: center;
                 align-items: center;
                ">
        <div class="col-lg-3" style="display: flex; justify-content: space-between">
            <span>{{ row.user.email }}</span>
        </div>
        <div class="col-lg-3 "><input class="input_copy" type="text" id="linkInput_{{ row.id }}" value="{{ baseUrl }}/reunion/{{ row.identifiant }}" readonly></div>
        <div class="col-lg-2 ">
            {% set state = '<i class="fa fa-circle" style="color: #ffaa2b"></i> En attente' %}

            {% if row.state == 2 %}
                {% set state = '<i class="fa fa-circle " style="color: #dc3545"></i> Terminé' %}
            {% elseif row.state == 1  %}
                {% set state = '<i class="fa fa-circle text-green"></i> En cours' %}
            {% endif %}

            {{ state |raw }}
        </div>
        <div class="col-lg-4 actions link_identifiant ">
            <div class="container">
                <div class="row ">
                    <div class="col-4 text-left">{{ row.CreatedAt|date("d/m/yy") }}</div>
                    <div class="col-8 text-right">
                                <span class="btn btn-danger mr-2" role="button"
                                      type="button"
                                      onclick="return copyToPaste({{ row.id }});"
                                    {{ row.status ? 'disabled="disabled"' : '' }}
                                    data-target="#link-meeting">
                                    <span class="small">
                                        Copier le lien <i class="fa fa-clone ml-2" aria-hidden="true"></i>
                                    </span>
                                </span>
                        <a href="#" data-meeting="{{ row.id }}" class="delete_meeting">
                            <i class="fa fa-trash text-dark" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>


        </div>

    </div>
{% endfor %}
<div class="list_pagination">{{ knp_pagination_render(meetings) }}</div>
