{% extends 'base-espace-client.html.twig' %}

{% form_theme form 'form/theme/the_hiboo.html.twig' %}

{% import _self as formMacros %}
{% macro printParticipantsRow(participant) %}
    <div class="flex-column my-1 ml-1">
        <div class="input-group participant-proto-wrapper">
            {{ form_widget(participant.email) }}
            <a class="remove_participant btn btn-danger ml-1 encart_home_body text-white small"><span class="fa fa-close"></span></a>
        </div>
    </div>
{% endmacro %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container" style="max-width: 1700px">
        <div class="row mt-2">
            <div class="col-lg-12 ">
                <a href="{{ path('app_espace_client_meeting_list') }}" class="text-green"> Mes réunions </a> <span class="mx-2"> > </span> {{title}}
            </div>
        </div>

        <div class="form-wrapper">
            {{ form_start(form) }}
            <input type="hidden" data-nbr_participant="{{ userSubscription ? userSubscription.numberParticipant : 0 }}" class="participants">
            <input type="hidden" value="{{ userSubscription ? userSubscription.durationMeeting : 0 }}" class="durationM">


            <h5 class="encart_home_head mb-4">
                {{title}} {% if mode %} - #{{ mode.subject }}{% endif %}
            </h5>

            <div class="justify-content-center ">
                <div class="text-center ">
                    {% include 'shared/flash_alert/index.html.twig' %}
                </div>
            </div>

            <div class="row mt-4  pt-2">
                <div class="col-3">{{ form_label(form.subject) }}</div>
                <div class="col-9">{{ form_widget(form.subject) }}</div>
            </div>

            <div class="row mt-4  pt-2">
                <div class="col-3">{{ form_label(form.description) }}</div>
                <div class="col-9">{{ form_widget(form.description) }}</div>
            </div>
            <hr>
            <div class="row mt-4">
                <div class="col-3">{{ form_label(form.date) }}</div>
                <div class="col-9">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa fa-calendar text-danger" aria-hidden="true"></i>
                            </div>
                        </div>
                        {{ form_widget(form.date) }}
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-3">
                    <label>
                        Durée de la réunion
                        <i class="fa fa-info-circle" style="font-size: 20px; color: #00C9AE" data-toggle="tooltip" data-placement="top" data-html="true" title="{{ userSubscription ? '<div class=\'\' >Selon votre abonnement, la durée de la réunion est:<br>  <span class=\'text-success\'>' ~ userSubscription.durationMeeting ~ '</span></div>' : '' }}" ></i>
                    </label>
                </div>
                <div class="col-9">
                    <div class="row mb-3">
                        <div class="col-2 input-group">
                            {% if userSubscription.mode == 'free' %}
                                {{ form_widget(form.durationH, {'attr':{'disabled':'disabled'}}) }}
                            {% else %}
                                {{ form_widget(form.durationH) }}
                            {% endif %}
                            <div class="input-group-append">
                                <span class="btn btn-info">h</span>
                            </div>
                        </div>
                        <div class="col-2 input-group">
                            {{ form_widget(form.durationM) }}
                            <div class="input-group-append">
                                <span class="btn btn-info" type="submit">min</span>
                            </div>
                        </div>
                    </div>
                    <div>
                        {{ form_errors(form.durationH) }}
                        {{ form_errors(form.durationM) }}
                    </div>
                </div>
            </div>
            <hr>
            <div class="mt-5">
                <h5 class="encart_home_head mb-4">Réunion publique ou privée</h5>
            </div>
            <div class="row mt-4 pb-4">
                <div class="col-3">Mot de passe de la réunion hiboo</div>
                <div class="col-9">
                    <div class="d-flex align-items-center" >
                        <div class="">{{form_label(form.password)}}</div>
                        <div class="ml-5">{{ form_widget(form.password) }}</div>
                    </div>
                </div>
            </div>
            <hr>
            <h5 class="encart_home_head mb-4">Inviter des participants</h5>

            <div class="row">
                <div class="col-3 ">
                    Ajouter un participant
                    <i class="fa fa-info-circle" style="font-size: 20px; color: #00C9AE"
                       data-toggle="tooltip"
                       data-placement="top"
                       data-html="true"
                       title="Le nombre de participant que vous pouvez ajouter est:<br>
                        <span class='text-success'>{{ userSubscription.numberParticipant }} (animateur inclus)</span>"
                    ></i>
                </div>
                <div class="col-9 ">
                    <div class="participant-data-proto-wrapper"
                         data-prototype="{{ form_widget(form.participants.vars.prototype)|e('html_attr') }}"
                         data-index="{{ form.participants|length }}" >
                    </div>
                    {% for participant in form.participants %}
                        {{ formMacros.printParticipantsRow(participant) }}
                    {% endfor %}
                    <div class="w-100 m-4 text-center pt-2">
                        <button class="btn  btn-large py-2 pb-3 login" id="add_participant" title="Ajouter participant">
                            Ajouter
                        </button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-group col-lg-12 mx-auto form-add" style="margin-top: 20px">
                <button type="submit" class="btn  btn-large py-2 login pb-3">
                    <span class="font-weight-bold">{{title}}</span>
                </button>
                <button type="reset" class="btn btn-outline-danger py-2 px-5 pb-3 btn-outline-danger signin">
                    <span class="font-weight-bold ">Annuler</span>
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/moment/moment-with-locales.min.js')}}"></script>
    <script src="{{ asset('build/js/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js')}}"></script>
    <script>
        // Date Picker
        $(document).ready(function() {
            $('#meeting_date').bootstrapMaterialDatePicker({
                format : 'DD/MM/YYYY HH:mm',
                lang : 'fr',
                weekStart : 1,
                cancelText : 'ANNULER',
                okText : 'VALIDER'
            });
        });
    </script>
{% endblock %}