<table class="table table-hover table-striped verticle-middle dataTable_meeting" id="dataTable_meeting">
    <thead>
    <tr>
        <td class="encart_home_head text-green">Heure de début</td>
        <th></th>
        <td class="encart_home_head">Sujet</td>
        <td class="encart_home_head text-center">Statut</td>
        <td class="encart_home_head">Lien de la réunion</td>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for row in meetings|reverse %}
        <tr id="meeting_{{ row.id }}">
            <td>{{ row.date|date("d/m/yy") }} à  {{ row.date|date("H:i") }}</td>
            <td><a class="detail_meeting" href="#" data-meeting="{{ row.id }}">+info</a></td>
            <td>{{ row.subject }}</td>
            <td class="text-center">
                <span class="d-none">{{ row.status }}</span>
                {% if row.status %}
                    <span data-toggle="tooltip" title="Réunion déjà faite!"><i class="fa fa-lock text-danger"></i></span>
                {% else %}
                    <i class="fa fa-unlock-alt text-info "></i>
                {% endif %}
            </td>
            <td class="link_identifiant">
                <span class="d-none">{{ row.link }}</span>
                <input class="input_copy" type="text" id="linkInput_{{ row.id }}" value="{{ row.link }}" readonly>
            </td>
            <td>
                <div class="actions">
                    <button class="btn-icon-right btn btn-danger encart_home_body mr-2"
                            type="button"
                            onclick="return copyToPaste({{ row.id }});"
                            {{ row.status ? 'disabled="disabled"' : '' }}
                            data-target="#link-meeting">
                        Copier lien <i class="fa fa-files-o" aria-hidden="true"></i>
                    </button>
{#                    <a href="{{ path('app_espace_client_meeting_edit', {'id':row.id}) }}"><i class="fa fa-cog" aria-hidden="true"></i></a>#}
                    <a href="#" data-meeting="{{ row.id }}" class="delete_meeting">
                        <i class="fa fa-trash text-danger" aria-hidden="true"></i>
                    </a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>