{% extends 'base-espace-client.html.twig' %}

{% form_theme form 'form/theme/the_hiboo.html.twig' %}

{% import _self as formMacros %}
{% macro printParticipantsRow(participant) %}
    <div class="flex-column my-1 ml-1">
        <div class="input-group participant-proto-wrapper">
            {{ form_widget(participant.email) }}
            <a class="remove_participant btn btn-danger ml-1 encart_home_body text-white small"><span class="fa fa-close"></span></a>
        </div>
    </div>
{% endmacro %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row mt-4">
        <div class="col-lg-12 ">
            <a href="{{ path('app_espace_client_meeting_list') }}" class="text-green"> Mes réunions </a> > {{title}}
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-12 ">
            {{ form_start(form) }}
            <h5 class="encart_home_head mb-4">
                {{title}}
            </h5>

            <div class="row mt-4 justify-content-center ">
                <div class="col-lg-6 text-center ">
                    {% include 'shared/flash_alert/sendMail.html.twig' %}
                </div>
            </div>

            <div class="input-group wrap_input ">
                <div class="item-input-label">{{ form_label(form.subject) }}</div>
                <div class="item-input">{{ form_widget(form.subject) }}</div>
            </div>
            <div class="input-group wrap_input ">
                <div class="item-input-label">{{ form_label(form.description) }}</div>
                <div class="item-input">{{ form_widget(form.description) }}</div>
            </div>
            <hr>
            <div class="input-group wrap_input">
                <div class="item-input-label">{{ form_label(form.date) }}</div>
                <div class="input-group-prepend">
                    <span class="input-group-text bg-white border-0">
                        <i class="fa fa-calendar text-danger" aria-hidden="true"></i>
                    </span>
                </div>
                {{ form_widget(form.date) }}
            </div>

            <div class="input-group wrap_input">
                <div class="item-input-label">
                    Durée de la réunion
                    <i class="fa fa-info-circle text-info" style="font-size: 20px"
                       data-toggle="tooltip"
                       data-placement="top"
                       data-html="true"
                       title=""
                    ></i>
                </div>
                <div class="item-input">
                    <div style="display: flex; justify-content: flex-start; align-items: center">
                        <span class="">h</span>
                        <div style="width: 10px;">  </div>
                        <span class="">{{ form_widget(form.durationM) }}</span>
                        <span class="mr-3">min</span>
                    </div>
                </div>
            </div>
            <hr>
            <h5 class="encart_home_head mb-4">Réunion publique ou privée</h5>
            <div class="input-group wrap_input">
                <div class="item-input-label">
                    Mot de passe de la réunhiboo
                </div>
                <div class="item-input" >
                    <div class="row">
                        <div class="col-9">{{form_label(form.password)}}</div>
                        <div class="col-3">{{ form_widget(form.password) }}</div>
                    </div>
                </div>
            </div>
            <hr>
            <h5 class="encart_home_head mb-4">Inviter des participants</h5>

            <div class="input-group wrap_input">
                <div class="item-input-label">
                    Ajouter un participant
                    <i class="fa fa-info-circle text-info" style="font-size: 20px"
                       data-toggle="tooltip"
                       data-placement="top"
                       data-html="true"
                       title=""
                    ></i>
                </div>
                <div class="item-input" >
                    <div class="participant-data-proto-wrapper"
                         data-prototype="{{ form_widget(form.participants.vars.prototype)|e('html_attr') }}"
                         data-index="{{ form.participants|length }}" >
                    </div>
                    {% for participant in form.participants %}
                        {{ formMacros.printParticipantsRow(participant) }}
                    {% endfor %}
                    <div class="row mt-1 mb-5">
                        <div class="" style="margin-top: 10px">
                            <button class="btn mb-1 btn-success mt-3 ml-1" id="add_participant" title="Ajouter participant">
                                <span class="btn-icon-right encart_home_body"><i class="fa fa-plus"></i> Ajouter participant </span>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
            <hr>
            <div class="form-group col-lg-12 mx-auto" style="margin-top: 20px">
                <button type="submit" class="btn  btn-large py-2 login">
                    <span class="font-weight-bold">{{title}}</span>
                </button>
                <button type="reset" class="btn  btn-large py-2 btn-outline-danger signin">
                    <span class="font-weight-bold ">Annuler</span>
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}