{% extends 'base-espace-client.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="container">
        <div class="row mt-4 mb-5">
            <div class="col-6">
                <span class="text-green">Détail du client:</span>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-4">
                <img src="{{ asset(twig_asset_image_directory ~ user.pdp) }}"  class="rounded-circle" alt="Cinque Terre" width="160" height="160">
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-6 ">
                        <h3 class="mr-3">{{ user.firstname }} {{ user.name }}</h3>
                    </div>
                    <div class="col-6 ">
                        <div class="custom-control custom-switch">
                                <input type="checkbox"
                                       class="custom-control-input deactive_user"
                                       id="coupon_{{ user.id }}"
                                       data-id_user="{{ user.id }}"
                                       {% if user.active %} checked {% endif %}
                                >
                                <label class="custom-control-label text-show" for="coupon_{{ user.id }}">
                                    {{ user.active ? 'Activé' : 'Desactivé' }}
                                </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <h5 class="mb-3"><strong>Date d'inscription</strong>: {{ user.createdAt|date('d/m/Y') }}</h5>
                <button id="delete_user" data-id_user="{{ user.id }}" {% if user.deleted %}  disabled="desabled" {% endif %} class="btn btn-danger">Supprimer</button>
                <a role="button" href="{{ path('app_espace_admin_user_subscriber_send_email', {'id':user.id}) }}" class="btn login">Envoyer un email</a>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-4"><strong>Entreprise</strong></div>
            <div class="col-4">{{ user.entreprise }}</div>
            <div class="col-4"><strong>Liste des réunions:</strong></div>
        </div>
        <div class="row mb-4">
            <div class="col-4"><strong>Adresse</strong></div>
            <div class="col-4">{{ user.address }}</div>
            <div class="col-4"><i class="fa fa-circle" style="color: #ffaa2b"></i> En attente : <span class="text-green">{{  (meetings|length > 0) ? meetings[0]['nbr'] + meetings[1]['nbr'] : 0 }} </span></div>
        </div>
        <div class="row mb-4">
            <div class="col-4"><strong>Adresse email</strong></div>
            <div class="col-4">{{ user.email }}</div>
            <div class="col-4"><i class="fa fa-circle text-green"></i> En cours: <span class="text-green">{{ (meetings|length > 0) ? meetings[2]['nbr'] : 0 }}</span></div>
        </div>
        <div class="row mb-4">
            <div class="col-4"><strong>Langue</strong></div>
            <div class="col-4">{{ user.language }}</div>
            <div class="col-4"><i class="fa fa-circle text-red"></i> Terminée: <span class="text-green">{{ (meetings|length > 0) ? meetings[3]['nbr'] : 0 }}</span></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-4"><strong>Abonnement</strong></div>
            <div class="col-4">{{ (user.subscriptionUser|length>0) ? user.subscriptionUser.title : 'Gratuit'}}</div>
            <div class="col-4"></div>
        </div>
        <hr>
        <div class="row ">
            <div class="col-12 my-5">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Début</th>
                            <th scope="col">Fin</th>
                            <th scope="col">Code promo</th>
                            <th scope="col">Abonnement</th>
                            <th scope="col">Prix Abonnement</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in detailSubscription %}
                            <tr>
                                <td>{{ row.begin|date('d/m/Y') }}</td>
                                <td>{{ row.end|date('d/m/Y') }}</td>
                                <td>{{ row.codePromo }}</td>
                                <td>{{ row.subscription.title }}</td>
                                <td>{{ row.subscription.price }}€</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>

    </div>
{% endblock %}

