{% extends 'base-espace-client.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row mt-4">
        <div class="col-lg-12 ">
            <a href="{{ path('app_espace_admin_user_subscriber_list') }}" class="text-green"> Les abonnés </a> <span class="mx-2"> > </span> {{title}}
        </div>
    </div>

    <div class="form-wrapper">
        {{ form_start(form) }}
        <input type="hidden" name="email_user" value="{{ user.email }}">
        <h5 class="encart_home_head mb-4">
            {{title}}
        </h5>

        <div class="row mt-4  pt-2">
            <div class="col-12">{{ form_label(form.subject) }}</div>
            <div class="col-12">{{ form_widget(form.subject) }}</div>
        </div>

        <div class="row mt-4  pt-2">
            <div class="col-12">{{ form_label(form.message) }}</div>
            <div class="col-12">{{ form_widget(form.message) }}</div>
        </div>

        <hr>
        <div>
            <button type="submit" class="btn  btn-large py-2 login">
                <span class="font-weight-bold">{{title}}</span>
            </button>
            <button type="reset" class="btn  btn-large py-2 btn-outline-danger signin">
                <span class="font-weight-bold ">Annuler</span>
            </button>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}