{% extends 'base-frontend.html.twig' %}

{% import 'shared/step_head/step.html.twig' as macro_step %}

{% block title %}Lancer réunion!{% endblock %}

{% block body %}
        <div class="container">
            <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
                <div class="card card0 border-0">
                    <div class="w-100">
                        <div class="" style="margin-left: -25px;">
                            {{ macro_step.show_step_head(0, 'register', 2) }}
                        </div>
                    </div>
                    <div class="row d-flex">
                        <div class="col-lg-6">
                            <div class="card1" id="image-login">
                                <div class="row justify-content-center">
                                    <img src="{{ asset('build/images/photo_reunion.png')}}" class="image" style="width:100%; height:96%">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 box-shadow-login">
                            <p style="margin-bottom:20px">
                                <h3 class="encart_home_head">Commencer la<span class="text-green"> réunion !</span></h3>
                                <span class="my-4 black_hiboo">
                                    Félicitations ! Vous pouvez dès maintenant démarrer la réunion.
                                </span>
                            </p>
                            <p style="margin-top:30px">
                                Voici votre lien <span class="text-green">réunIboo</span> personnel :
                            </p>
                            <p class="mb-5">
                                <span class="text-red">{{ link }}</span>
                            </p>

                            <div class="form-group mx-auto">
                                <div class="row">
                                    <div class="col-lg-5 col-md-6 col-sm-12"><a class="btn  btn-lg login text-center" style="padding-bottom: 14px" href="{{ link }}">Lancer la réunion</a></div>
                                    <div class="col-lg-6 col-md-6 col-sm-12"><a class="btn btn-outline-danger btn-lg signin" style="padding-bottom: 14px" href="{{ path('app_espace_client_meeting_list') }}">Voir mon compte</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="world-globe">
            {% include 'shared/partenaire.html.twig' %}
        </div>
        <br><br>
{% endblock %}
