{% extends 'base-frontend.html.twig' %}

{% import 'shared/step_head/step.html.twig' as macro_step %}

{% block title %}S'inscrire sur Iboo!{% endblock %}

{% block body %}
    <div id="tunnel_2">
        <div class="container mt-5 mx-auto login-container">
            <div class="w-100">
                <div class="ml-1">
                    {{ macro_step.show_step_head(0, 'register', 1) }}
                </div>
            </div>
            <div class="card box-shadow-login">
                <div class="row content">
                    <div class="col-lg-6 card-bg">
                        <img src="{{ asset('frontend/images/hiboo_connexion.png')}}" class="image-bg">
                    </div>
                    <div class="col-lg-6 card-content">
                        {{ form_start(registrationForm, { 'attr': {'onsubmit': 'return ajaxSubmitTunnel(this)'}}) }}
                            <h1 class="encart_home_head pt-1 ml-2 black_hiboo">Bienvenue sur <span class="text-green">Iboo !</span></h1>
                            <div class="encart_home_body my-2 ml-2 black_hiboo">
                                Veuillez renseigner votre nom, prénom et créer votre mot de passe pour créer votre compte.
                            </div>
                            {% for flashError in app.flashes('verify_email_error') %}
                            <div class="alert alert-danger encart_home_body" role="alert">{{ flashError }}</div>
                            {% endfor %}

                            <div class="row">
                                    <div class="input-group col-sm-10 col-lg-8 my-2" >
                                    {{ form_widget(registrationForm.name) }}
                                </div>
                                    <div class="input-group col-sm-10 col-lg-8  my-2" >
                                    {{ form_widget(registrationForm.firstname) }}
                                </div>
                                    <div class="input-group col-sm-10 col-lg-8 my-2" >
                                    {{ form_widget(registrationForm.email, { 'value': preUser }) }}
                                    {{ form_errors(registrationForm.email) }}
                                </div>
                                    <div class="input-group col-sm-10 col-lg-8 my-2" >
                                    {{ form_widget(registrationForm.password) }}
                                </div>
                            </div>
                            <div class="input-group ">
                                <div class="wrap_step small ml-3 black_hiboo ">
                                    <span>{{ form_widget(registrationForm.agreeTerms) }}</span>
                                    En me connectant, j'accepte votre <a href="#" class="link ml-1 mr-1" > Politique de confidentialité</a> et <a href="#" class="link ml-1">les Conditions de service.</a>
                                </div>

                                <div class="encart_home_body small ml-5">
                                    {#<input type="checkbox" name="group2" id="checkbox-1">
                                    <label for="checkbox-1"><span class="checkbox">Oranges</span></label>#}
                                </div>
                            </div>
                            <div class="form-group col-lg-12 mx-auto" style="margin-top: 20px">
                                <input type="hidden" name="_csrf_token"
                                        value="{{ csrf_token('authenticate') }}">
                                <button type="submit"  class="btn  btn-large py-2 login btn-login">
                                    <span class="font-weight-bold">Continuer</span>
                                </button>
                            </div>
                        {{ form_end(registrationForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="login-rs">
        {% include "shared/social-network-icons.html.twig" %}
    <div>

    <div class="world-globe">
        {% include 'shared/partenaire.html.twig' %}
    </div>
    <br><br>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/tunnel.js') }}"></script>
{% endblock %}