{% extends 'base-frontend.html.twig' %}

{% import 'shared/step_head/step.html.twig' as macro_step %}

{% block title %}Lancer réunion!{% endblock %}

{% block body %}
    <div class="container">
        <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
            <div class="card card0 border-0">
                <div class="row">
                    <div class="col-12 ml-3">
                        {{ macro_step.show_step_head(0, 'register', 3) }}
                    </div>
                </div>
                <div class="row d-flex">
                    <div class="col-lg-6">
                        <div class="card1 pb-5" id="image-login">
                            <div class="row px-3 justify-content-center mt-4 mb-5 border-line">
                                <img src="{{ asset('build/images/photo_reunion.png')}}" class="image" style="width:100%; height:96%">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 encart_home_body">
                        <p style="margin-bottom:20px">
                            <h3 class="encart_home_head">Commencer la<span class="text-green"> réunion!</span></h3>
                            <span class="my-4">
                                Félicitations! Vous pouvez dès maintenant démarrer la réunion.
                            </span>
                        </p>
                        <p style="margin-top:30px">
                            Voici votre lien <span class="text-green">réunhiboo</span> personnel!
                        </p>
                        <p>
                            <span class="text-danger">{{ link }}</span>
                        </p>

                        <div class="form-group col-lg-12 mx-auto" style="margin-top: 100px">
                            <a href="{{ link }}" target="_blank" class="btn btn-large py-2 login">
                                <span role="button" class="encart_home_body text-white">Lancer la réunion</span>
                            </a>
                            <a class="btn btn-outline-danger btn-sm signin" href="{{ path('app_espace_client_meeting_list') }}">
                                <span class="encart_home_body ">Voir mon compte</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="world-globe">
        {% include 'shared/partenaire.html.twig' %}
    </div>
    <br><br>
{% endblock %}
