{% extends 'base-frontend.html.twig' %}

{% import 'shared/step_head/step.html.twig' as macro_step %}

{% block title %}Lancer réunion!{% endblock %}

{% block body %}

    <div class="container mt-5 mx-auto login-container">
        <div class="w-100">
            <div class="ml-1">
                {{ macro_step.show_step_head(0, 'register', 2) }}
            </div>
        </div>
        <div class="card box-shadow-login">
            <div class="row content">
                <div class="col-lg-6 card-bg">
                    <img src="{{ asset('build/images/photo_reunion.png')}}" class="image-bg">
                </div>
                <div class="col-lg-6 card-content">
                    <p style="margin-bottom:20px">
                        <h3 class="encart_home_head">Commencer la<span class="text-green"> réunion !</span></h3>
                        <span class="my-4 black_hiboo">
                            Félicitations ! Vous pouvez dès maintenant démarrer la réunion.
                        </span>
                    </p>
                    <p style="margin-top:30px">
                        Voici votre lien <span class="text-green">réunIboo</span> personnel :
                    </p>
                    <p class="mb-5">
                        <span class="text-red">{{ link }}</span>
                    </p>

                    <div class="form-group mx-auto">
                        <div class="row ">
                            <div class="col-lg-6 col-md-6 col-sm-12 ">
                                <a class="btn login btn-lg" href="{{ link }}" style="padding-bottom: 14px">Lancer la réunion</a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 ">
                                <a class="btn btn-outline-danger btn-lg signin" style="padding-bottom: 14px" href="{{ path('app_espace_client_meeting_list') }}">Voir mon compte</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="login-rs">
        {% include "shared/social-network-icons.html.twig" %}
    </div>

    <div class="world-globe">
        {% include 'shared/partenaire.html.twig' %}
    </div>
    <br><br>
{% endblock %}
