<div class="advantage-group">
    <div class="advantage-item" >
        <div class="item-icon">
            <img src="{{ asset('build/images/world-globe.svg') }}" alt="world globe">
        </div>
        <div class="item-desc">
            <div class="encart_home_head align_picto_avantage img-title">
                <span>Facile</span>
            </div>
            <div  class="encart_home_body mt-1">
                <span>Utilisez Hiboo sur votre <br>navigateur sans <br> téléchargement</span>
            </div>
        </div>
    </div>


    <div class="advantage-item" >
        <div class="item-icon">
            <img src="{{ asset('build/images/hourglass.svg') }}" alt="world globe">
        </div>
        <div class="item-desc">
            <div class="encart_home_head align_picto_avantage img-title">
                <span>Rapide</span>
            </div>
            <div  class="encart_home_body mt-1">
                <span>Créez votre propre<br> réunion en moins <br>d' 1 minute</span>
            </div>
        </div>
    </div>

    
    <div class="advantage-item" >
        <div class="item-icon">
            <img src="{{ asset('build/images/shield.svg') }}" alt="world globe">
        </div>
        <div class="item-desc">
            <div class="encart_home_head align_picto_avantage img-title">
                <span>Sécurisé</span>
            </div>
            <div  class="encart_home_body mt-1">
                <span>Utilisation d'un firewall<br> applicatif intelligent<br> labélisé</span>
            </div>
        </div>
    </div>

    <div class="advantage-item" >
        <div class="item-icon">
            <img src="{{ asset('build/images/connection.svg') }}" alt="world globe">
        </div>
        <div class="item-desc">
            <div class="encart_home_head align_picto_avantage img-title">
                <span>Réunion</span>
            </div>
            <div  class="encart_home_body mt-1">
                <span>Participez à une réunion<br> vidéo à deux ou à<br> plusieurs</span>
            </div>
        </div>
    </div>

    <div class="advantage-item" >
        <div class="item-icon">
            <img src="{{ asset('build/images/chat.svg') }}" alt="world globe">
        </div>
        <div class="item-desc">
            <div class="encart_home_head align_picto_avantage img-title">
                <span>Messagerie</span>
            </div>
            <div  class="encart_home_body mt-1">
                <span>Envoyez des messages<br> durant vos entretiens<br> vidéos</span>
            </div>
        </div>
    </div>
</div>