<div class="row mx-2">
    <div class="col d-flex">
        <div class="w-100 text-center">
            <img src="{{ asset('build/images/world-globe.svg') }}" alt="world globe">
        </div>
        <div class="w-100">
            <div class="encart_home_head align_picto_avantage img-title">
                <span>Facile</span>
            </div>
            <div  class="encart_home_body mt-1">
                <span>Utilisez Hiboo sur votre navigateur sans téléchargement</span>
            </div>
        </div>
    </div>


    <div class="col d-flex">
        <div class="w-100 text-center">
            <img src="{{ asset('build/images/hourglass.svg') }}" alt="world globe">
        </div>
        <div class="w-100">
            <div class="encart_home_head align_picto_avantage img-title">
                <span>Rapide</span>
            </div>
            <div  class="encart_home_body mt-1">
                <span>Créez votre propre<br/>réunion en moins <br/>d' 1 minute</span>
            </div>
        </div>
    </div>

    
    <div class="col d-flex">
        <div class="w-100 text-center">
            <img src="{{ asset('build/images/shield.svg') }}" alt="world globe">
        </div>
        <div class="w-100">
            <div class="encart_home_head align_picto_avantage img-title">
                <span>Sécurisé</span>
            </div>
            <div  class="encart_home_body mt-1">
                <span>Utilisation d'un firewall applicatif intelligent labélisé</span>
            </div>
        </div>
    </div>

    <div class="col d-flex">
        <div class="w-100 text-center">
            <img src="{{ asset('build/images/connection.svg') }}" alt="world globe">
        </div>
        <div class="w-100">
            <div class="encart_home_head align_picto_avantage img-title">
                <span>Réunion</span>
            </div>
            <div  class="encart_home_body mt-1">
                <span>Participez à une réunion vidéo à deux ou à plusieurs</span>
            </div>
        </div>
    </div>

    <div class="col d-flex">
        <div class="w-100 text-center">
            <img src="{{ asset('build/images/chat.svg') }}" alt="world globe">
        </div>
        <div class="w-100">
            <div class="encart_home_head align_picto_avantage img-title">
                <span>Messagerie</span>
            </div>
            <div  class="encart_home_body mt-1">
                <span>Envoyez des messages durant vos entretiens vidéos</span>
            </div>
        </div>
    </div>
</div>