<header class="masthead">
    <div class="container-fluid home-header-container">   
        <div class="w-50 ml-5">
            <div class="site-heading">
                <h1>Hiboo</h1>
                <h2>la communication vidéo sécurisée Made in France !</h2>
                <div class ="row mt-4">
                    <div class="col-lg-7 col-xl-8 pl-4 pr-2" >
                        <input type="email" class="form-control encart_home_body ml-3 pb-3" id="reunion-email" placeholder="Entrez votre adresse email">
                    </div>
                    <div class="col-lg-5 col-xl-4" >
                        <button class ="btn btn-danger btn-block" id="btn-reunion-email">
                            Je crée ma réunion
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="rs-icons">
            <div id="facebook" class="home-icon">
                <img class="img-fluid" src="{{ asset('build/images/facebook-dark.png') }}">
            </div>
            <div id="instagram" class="home-icon">
                <img class="img-fluid" src="{{ asset('build/images/instagram-dark.png') }}">
            </div>
            <div id="linkedin" class="home-icon">
                <img class="img-fluid" src="{{ asset('build/images/linkedin-dark.png') }}">
            </div>
            <div id="twitter" class="home-icon">
                <img class="img-fluid" src="{{ asset('build/images/twitter-dark.png') }}">
            </div>
            <div id="youtube" class="home-icon ">
                <img class="img-fluid" src="{{ asset('build/images/youtube-dark.png') }}">
            </div>
        </div>
    </div>
</header >
<section class="d-block d-lg-none  mobile-call-scrool">
    <div class="w-100 text-center">
        <div class="chevron-down"> </div>
    </div>
    <div class="navbar-light home-navbar-light text-right mr-4">
        <button class="home-navbar-toggler navbar-toggler navbar-toggler-right " type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <div class="home-navbar-toggler-icon"></div>
        </button>
    </div>
</section>