<h2 class="text-center text-danger encart_home_head" >Tarifs </h2>
<div class="row text-center">
    {% for key, row in subscriptions %}
        <div class="col-md-4 mb-5">
            {% set activeInit = '' %}
            {% if key == 1 %}
                {% set activeInit = 'activeInit active' %}
            {% endif %}
            <div class="card card-tarif {{ activeInit }}" id="tarif{{ row.id }}">
                <div class="card-body text-center">
                    <h4 class="card-title text-center encart_home_head">{{ row.title }}</h4>
                    <p class="text-justify encart_home_body"><i class="fa fa-check-circle" aria-hidden="true"></i> Durée de réunion {{ row.durationMeeting}} </p>
                    <p class="text-justify encart_home_body"><i class="fa fa-check-circle" aria-hidden="true"></i> Nombre de participants : {{ row.numberParticipant}} </p>
                    <p class="text-justify encart_home_body"><i class="fa fa-check-circle" aria-hidden="true"></i> Création d'une réunion sécurisée en moins de 2 min  </p>
                    {% if row.messagingInstant %}
                        <p class="text-justify encart_home_body"><i class="fa fa-check-circle" aria-hidden="true"></i> Messagerie instantanée  </p>
                    {% endif %}
                    {% if row.screenSharing %}
                        <p class="text-justify encart_home_body"><i class="fa fa-check-circle" aria-hidden="true"></i> Partage d'écran en direct  </p>
                    {% endif %}
                    {% if row.recordingMeeting %}
                        <p class="text-justify encart_home_body"><i class="fa fa-check-circle" aria-hidden="true"></i> Enregistrement des réunions </p>
                    {% endif %}
                    {% if row.reminderMeeting %}
                        <p class="text-justify encart_home_body"><i class="fa fa-check-circle" aria-hidden="true"></i> Rappel automatique des réunions par mail  </p>
                    {% endif %}
                    <h5 class=" encart_home_head">
                        {% if row.price|length > 0 %}
                            {{ row.price }} €
                        {% else %}
                            Gratuit
                        {% endif %}
                    </h5>
                    <div class="subscription_choice_{{ row.id }}">
                        {% set path_destination = path('app_espace_client_meeting_list') %}
                        {% if row.mode == 'paying' %}
                            {% set path_destination = path('app_espace_client_profil_subscription_pre_payment', {'id':row.id}) %}
                        {% endif %}
                        <a role="button" href="{{ path_destination }}" class="btn start encart_home_body">Demarrer</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<div class="row " >
    <div class="col-lg-12 col-md-10 mx-auto text-center">
        <button class="btn start col-lg-3 py-2 encart_home_body"> Essayer Hiboo</button>
{#        <a role="button" href="/espace_client/meeting/" class="btn start encart_home_body" style="background-color: rgb(0, 201, 174); color: white;">Essayer Hiboo</a>#}
    </div>
</div>