<h2 class="text-center text-danger encart_home_head" >Tarifs </h2>
<div class="row text-center tarifs space-title" >
    {% for key, row in subscriptions %}
        <div class="col-md-4 mb-5">
            {% set activeInit = '' %}
            {% set btn_start = 'start_tarif' %}
            {% if key == 1 %}
                {% set activeInit = 'activeInit active' %}
                {% set btn_start = 'start' %}
            {% endif %}
            <div class="card card-tarif {{ activeInit }}" id="tarif{{ row.id }}">
                <div class="card-body text-center">
                    <h5 class="card-title text-center encart_home_head">{{ row.title }}</h5>
                    <p class="text-justify encart_home_body"><i class="fa fa-check-circle" aria-hidden="true"></i> Durée de réunion {{ row.durationMeeting}} </p>
                    <p class="text-justify encart_home_body"><i class="fa fa-check-circle" aria-hidden="true"></i> Nombre de participants :
                        <span style="letter-spacing: -1px">{{ row.numberParticipant}}
                            {% if key == 0 %}
                                <i class="fa fa-info-circle text-dark ml-1" data-toggle="tooltip" data-placement="top" data-html="true" title="4 maximum(animateur inclus)"></i>
                            {% endif %}
                        </span>
                    </p>
                    <p class="text-justify encart_home_body"><i class="fa fa-check-circle" aria-hidden="true"></i> Création d'une réunion sécurisée en moins de 2 min  </p>
                    {% if row.messagingInstant %}
                        <p class="text-justify encart_home_body"><i class="fa fa-check-circle" aria-hidden="true"></i> Messagerie instantanée  </p>
                    {% endif %}
                    {% if row.screenSharing %}
                        <p class="text-justify encart_home_body"><i class="fa fa-check-circle" aria-hidden="true"></i> Partage d'écran en direct  </p>
                    {% endif %}
                    {% if row.recordingMeeting %}
                        <p class="text-justify encart_home_body"><i class="fa fa-check-circle" aria-hidden="true"></i> Enregistrement des réunions </p>
                    {% endif %}
                    {% if row.reminderMeeting %}
                        <p class="text-justify encart_home_body"><i class="fa fa-check-circle" aria-hidden="true"></i> Rappel automatique des réunions par mail  </p>
                    {% endif %}
                    <h5 class="" style="font-family: CenturyGothic">
                        {% if row.price|length > 0 %}
                            {% if key == 1 %}
                                <del style="color: #FFFFFF">99.00€</del>
                            {% elseif key == 2 %}
                                <s style="color: #00C9AE">359.00€</s>
                            {% endif %}
                            <span class="font-weight-bold">{{ row.price }} €</span>
                        {% else %}
                            Gratuit
                        {% endif %}
                    </h5>
                    <div class="subscription_choice_{{ row.id }}">
                        {% set path_destination = path('app_espace_client_meeting_list') %}
                        {% if row.mode == 'paying' %}
                            {% set path_destination = path('app_espace_client_profil_subscription_pre_payment', {'id':row.id}) %}
                        {% endif %}
                        <a role="button" href="{{ path_destination }}" class="btn {{ btn_start }} pb-2">Démarrer</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<div class="row abonnement" >
    <div class="col-lg-12 col-md-10 mx-auto text-center">
        <a href="{{ path('app_espace_client_meeting_list') }}" role="button" class="btn start col-lg-3"> Essayer Iboo</a>
    </div>
</div>
