
    <div class="container">
        <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
            <div class="card card0 border-0">
                <div class="row d-flex">
                    <div class="col-lg-6">
                        <div class="card1" id="image-login">
                            <div class="row px-3 justify-content-center mt-4 border-line">
                                <img src="{{ asset('build/images/haboo_contact.png')}}" class="image" style="width:100%; height:96%">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6" >
                        {{ form_start(form, {'attr':{'id':'form_contact'}}) }}
                            <div style="margin:20px 0px 25px 15px; ">
                                <h3 class="encart_home_head">Contacter <span class="text-green">Hiboo</span></h3>
                                <span class="encart_home_body">Une question ? Remplissez ce formulaire et nous vous répondrons dans les plus brefs délais.</span>
                            </div>

                            <div class="input-group col-lg-12 mb-4">
{#                                <input id="name" type="text" name="name" placeholder="Nom" class="form-control bg-white  border-md">#}
                                {{ form_widget(form.name) }}
                            </div>

                            <div class="input-group col-lg-12 mb-4">
{#                                <input id="email" type="email" name="email" placeholder="Email" class="form-control bg-white  border-md">#}
                                {{ form_widget(form.email) }}
                            </div>
                            <div class="input-group col-lg-12 mb-4">
{#                                <textarea id="message" rows="6" name="message" placeholder="Message" class="form-control bg-white  border-md"></textarea>#}
                                {{ form_widget(form.message) }}
                            </div>

                            <div class="row " style="margin-bottom:20px">
                                <div class="col-lg-6 ">
                                    captcha
                                </div>
                                <div class="col-lg-6 ">
                                    <button type="submit" class="btn  btn-large py-2 login">
                                        <span class="font-weight-bold">Envoyer</span>
                                    </button>
                                </div>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>