{% extends "base-frontend.html.twig" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="container mt-5 mx-auto">
        <div class="card  box-shadow-login">
            {#<div class="row d-flex">
                <div class="col-lg-6 ">
                    <div class="card1" id="image-login">
                        <div class="row justify-content-center">
                            <img src="{{ asset('build/images/haboo_contact.png')}}" class="image" style="width:100%; height:96%">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 box-shadow-login">
                    {{ form_start(form, {'attr':{'id':'form_contact'}}) }}
                    <div style="margin:20px 0px 25px 15px; ">
                        <h1 class="encart_home_body pt-2 black_hiboo" style="letter-spacing: -1px">Contacter <span class="text-green">Iboo</span></h1>
                        <span class="encart_home_body black_hiboo">
                            Une question ? Remplissez ce formulaire et nous vous répondrons dans les plus brefs délais.
                        </span>
                        <div class="col-9 col-lg-6 text-center ">
                            {% include 'shared/flash_alert/index.html.twig' %}
                        </div>
                    </div>

                    <div class="input-group col-lg-12 mb-4">
                        {{ form_widget(form.name) }}
                    </div>

                    <div class="input-group col-lg-12 mb-4">
                        {{ form_widget(form.email) }}
                    </div>
                    <div class="input-group col-lg-12 mb-4">
                        {{ form_widget(form.message) }}
                    </div>

                    <div class="row " style="margin-bottom:20px">
#}{#                        <div class="col-lg-6 ">#}{#
#}{#                            {{ form_widget(form.captchaSubmit) }}#}{#
#}{#                        </div>#}{#
                        <div class="col-12 ml-3 ">
                            <button type="submit" class="btn btn-lg login text-center px-5">
                                <span class="">Envoyer</span>
                            </button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>#}

            <div class="row content">
                <div class="col-lg-6 card-bg">
                    <img src="{{ asset('build/images/haboo_contact.png')}}" class="image-bg">
                </div>
                <div class="col-lg-6 card-content">
                    {{ form_start(form, {'attr':{'id':'form_contact'}}) }}

                    <div style="margin:20px 0px 25px 15px;">
                        <h1 class="encart_home_body pt-2 black_hiboo" style="letter-spacing: -1px">Contacter <span class="text-green">Iboo</span></h1>
                        <span class="encart_home_body black_hiboo">
                            Une question ? Remplissez ce formulaire et nous vous répondrons dans les plus brefs délais.
                        </span>
                    </div>
                    <div class="col-12 text-center ">
                        {% include 'shared/flash_alert/index.html.twig' %}
                    </div>
                    <div class="input-group col-lg-12 mb-4">
                        {{ form_widget(form.name) }}
                    </div>

                    <div class="input-group col-lg-12 mb-4">
                        {{ form_widget(form.email) }}
                    </div>
                    <div class="input-group col-lg-12 mb-4">
                        {{ form_widget(form.message) }}
                    </div>

                    <div class="row " style="margin-bottom:20px">
                        {#                        <div class="col-lg-6 ">#}
                        {#                            {{ form_widget(form.captchaSubmit) }}#}
                        {#                        </div>#}
                        <div class="col-12 ml-3 ">
                            <button type="submit" class="btn btn-lg login text-center px-5">
                                <span class="">Envoyer</span>
                            </button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>

        </div>
    </div>
    <div class="world-globe ">
        {{ include('shared/partenaire.html.twig') }}
    </div>
    <br><br>


{% endblock %}