{% extends 'base-espace-client.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="container">
        <div class="row mt-4 mb-2">
            <div>
                <span class="text-green">Catégories Guide</span>
            </div>
        </div>


        <div class="jumbotron">
            {{ form_start(form, { 'attr': {'id':'form_category'}}) }}
            <div class="mb-3">Créer une nouvelle catégorie</div>
            <div class="wrap_horizontal">

                <div class="items">{{ form_widget(form.title) }}</div>
                <button class="btn btn-success">Ajouter catégorie</button>
            </div>
            {{ form_end(form) }}
        </div>


        <div class="container mt-5" id="list-category">
            {#<table class="table table-hover table-striped verticle-middle dataTable_category" id="dataTable_category">
                <thead>
                <tr>
                    <td class="encart_home_head ">-</td>
                    <td class="encart_home_head text-green">Nom catégorie</td>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for row in categories %}
                    <tr>
                        <td class="encart_home_body ">{{ row.id }} </td>
                        <td class="encart_home_body ">{{ row.title }}</td>
                        <td align="center">
                            <a href="" data-category="{{ row.id }}" class="delete_category">
                                <i class="fa fa-trash text-danger" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>#}
            <div class="row">
                <div class="col-lg-2 list_meeting_head">
                    {{ knp_pagination_sortable(categories, '-', 'id') }}
                </div>
                <div class="col-lg-9 list_meeting_head">
                    {{ knp_pagination_sortable(categories, 'Nom catégorie', 'title') }}
                </div>
                <div class="col-lg-1 list_meeting_head"></div>
            </div>
            <div class="row">
                {% for row in categories|reverse %}
                    <div class="col-sm-6 col-lg-12  mt-2">
                        <div class="row card-borderer mx-1">
                            <div class="col-lg-2 d-flex-center-left">
                                <span>{{ row.id }}</span>
                            </div>
                            <div class="col-lg-9 d-flex-center-left">
                                {{ row.title|raw }}
                            </div>
                            <div class="col-lg-1 d-flex-center-left">
                                <a href="" data-category="{{ row.id }}" class="delete_category">
                                    <i class="fa fa-trash text-danger" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="list_pagination">{{ knp_pagination_render(categories) }}</div>
        </div>

    </div>
{% endblock %}
