<div class="row">
    <div class="col-lg-2 list_meeting_head">
        {{ knp_pagination_sortable(categories, '-', 'id') }}
    </div>
    <div class="col-lg-9 list_meeting_head">
        {{ knp_pagination_sortable(categories, 'Nom catégorie', 'title') }}
    </div>
    <div class="col-lg-1 list_meeting_head"></div>
</div>
<div class="row">
    {% for row in categories|reverse %}
        <div class="col-sm-6 col-lg-12  mt-2">
            <div class="row card-borderer mx-1">
                <div class="col-lg-2 d-flex-center-left">
                    <span>{{ row.id }}</span>
                </div>
                <div class="col-lg-9 d-flex-center-left">
                    {{ row.title|raw }}
                </div>
                <div class="col-lg-1 d-flex-center-left">
                    <a href="" data-category="{{ row.id }}" class="delete_category">
                        <i class="fa fa-trash text-danger" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<div class="list_pagination">{{ knp_pagination_render(categories) }}</div>