{% extends 'base-frontend.html.twig' %}

{% block title %}Se connecter à Iboo!{% endblock %}

{% block body %}


    <div class="container mt-5 mx-auto login-container">
        <div class="card box-shadow-login">
            <div class="row content">
                <div class="col-lg-6 card-bg">
                    <img src="{{ asset('frontend/images/hiboo_connexion.png')}}" class="image-bg">
                </div>
                <div class="col-lg-6 card-content">
                    <h1 class="encart_home_head pt-2" style="letter-spacing: -1px">Connexion <span class="text-green">Iboo</span></h1>
                    <span class="encart_home_body"> Réinitialisez votre mot de passe </span>
                    <p>
                        {% for flashError in app.flashes('reset_password_error') %}
                    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                    {% endfor %}
                    </p>

                    <div class="my-5">
                        {{ form_start(requestForm) }}
                        <div class="col-sm-9 m-0 p-0">
                            {{ form_row(requestForm.email) }}
                        </div>
                        <div class="my-3">
                            <small>
                                Entrez votre adresse e-mail et nous vous enverrons un
                                lien pour réinitialiser votre mot de passe.
                            </small>
                        </div>
                        <button type="submit" class="btn  btn-large py-2 login btn-login">
                            <span class="font-weight-bold">Envoyer</span>
                        </button>
                        {{ form_end(requestForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="world-globe">
        {{ include('shared/partenaire.html.twig') }}
    </div>
    <br><br>


{% endblock %}

