{% extends 'base-frontend.html.twig' %}

{% import 'shared/step_head/step.html.twig' as macro_step %}

{% form_theme form 'form/theme/the_hiboo.html.twig' %}

{% block title %}Inviter des participants !{% endblock %}

{% block body %}
    <div class="container mt-5 mx-auto login-container">
        <div class="card card0 border-0">
            <div class="w-100">
                <div class="ml-1">
                    {{ macro_step.show_step_head(0, 'register', 2) }}
                </div>
            </div>
            <div class="card box-shadow-login">
                <div class="row content">
                    <div class="col-lg-6 card-bg">
                        <img src="{{ asset('build/images/haboo_contact.png')}}" class="image" style="width:100%; height:auto">
                    </div>
                    <div class="col-lg-6 card-content">
                        <p style="margin-bottom:20px">
                        <h2 class="encart_home_head my-5 text-dark-blue" style="line-height: 50px">Merci d'entrer le mot de passe envoyé par mail<br> pour accéder à la <span class="text-green">réuniboo</span></h2>
                        <div class="text-center">
                            {{ form_start(form) }}
                            {{ form_widget(form.password) }}
                            <div class="py-2">{{ form_errors(form) }}</div>

                            <button class="btn background-red col-lg-6 pb-2 mt-3" >
                                <span class="font-weight-bold px-3" style="color: #FFFFFF">Rejoindre la réunion</span>
                            </button>
                            {{ form_rest(form) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="login-rs">
        {% include "shared/social-network-icons.html.twig" %}
    </div>

    <div class="world-globe">
        {% include 'shared/partenaire.html.twig' %}
    </div>
    <br><br>
{% endblock %}
