{% extends 'base-frontend.html.twig' %}

{% import 'shared/step_head/step.html.twig' as macro_step %}

{% form_theme form 'form/theme/the_hiboo.html.twig' %}

{% block title %}Inviter des participants!{% endblock %}

{% block body %}
    <div class="container">
        <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
            <div class="card card0 border-0">
                    <div class="w-100">
                        <div class="" style="margin-left: -25px;">
                            {{ macro_step.show_step_head(0, 'register', 2) }}
                        </div>
                    </div>
                    <div class="row d-flex">
                        <div class="col-lg-6">
                            <div class="card1" id="image-login">
                                <div class="row justify-content-center">
                                    <img src="{{ asset('build/images/haboo_contact.png')}}" class="image" style="width:100%; height:96%">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 box-shadow-login">
                            {{ form_start(form) }}

                            {{ form_widget(form.password) }}

                            <button type="submit" class="btn  btn-large py-2 login">
                                <span class="font-weight-bold encart_home_body px-5">Accéder</span>
                            </button>
                            {{ form_rest(form) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <div class="world-globe">
        {% include 'shared/partenaire.html.twig' %}
    </div>
    <br><br>
{% endblock %}
