{% macro show_step_head(status, type, number) %}
    {% if type == 'register' %}
        <div class="wrap_step" >
            <div class="circle_step_active float-left" >1</div>
            <div class="">Infos personnelles</div>
            <div class="{{ (number == 2 or number == 3) ? 'line_step_active' : 'line_step' }}"></div>
            <div class="{{ (number == 2 or number == 3) ? 'circle_step_active' : 'circle_step' }} float-left" >2</div>
            <div class="">Inviter des participants</div>
            <div class="{{ (number == 3) ? 'line_step_active' : 'line_step' }}"></div>
            <div class="{{ (number == 3) ? 'circle_step_active' : 'circle_step' }}  float-left" >3</div>
            <div class="">Je lance ma réunion</div>
        </div>
    {% elseif type == 'payment' %}
        {% if status == 0 %}
            <div class="wrap_step" >
                <div class="{{ (number == 1) ? 'circle_step_active' : 'circle_step' }} float-left" >1</div>
                <div class="encart_home_body">Connexion</div>
                <div class="line_step"></div>
                <div class="{{ (number == 2) ? 'circle_step_active' : 'circle_step' }} float-left" >2</div>
                <div class="encart_home_body">Paiement</div>
                <div class="line_step"></div>
                <div class="{{ (number == 3) ? 'circle_step_active' : 'circle_step' }} float-left" >3</div>
                <div class="encart_home_body">Terminé</div>
            </div>
        {% else %}
            <div class="wrap_step" >
                <div class="{{ (number == 1) ? 'circle_step_active' : 'circle_step' }} float-left" >1</div>
                <div class="">Paiement</div>
                <div class="line_step"></div>
                <div class="{{ (number == 2) ? 'circle_step_active' : 'circle_step' }} float-left" >2</div>
                <div class="">Terminé</div>
            </div>
        {% endif %}
    {% endif %}
{% endmacro %}