{% extends 'base-espace-client.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container-fluid w-75" >
        <div class="row justify-content-center ">
            <div class="col-9 col-lg-6 text-center ">
                {% include 'shared/flash_alert/index.html.twig' %}
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-lg-12 ">
                <a href="{{ path('app_espace_client_profil_edit') }}" class="text-green"> Mon profil </a>
            </div>
        </div>
        <div class="form-wrapper">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-lg-4 text-center">
                    <div class="image-upload-wrap">
                        {{ form_widget(form.pdp) }}
                        {{ form_errors(form.pdp) }}
                        <div class="drag-text">
                            <h5>Faites glisser et déposez un fichier ou sélectionnez Ajouter une image</h5>
                        </div>
                    </div>
                    <div class="file-upload-content" style="display: block">
                        {% if pdp == '' %}
                            <img src="{{ asset('build/images/avatarDefault.png') }}"  class="rounded-circle image-profil file-upload-image" alt="" width="160" height="160">
                        {% else %}
                            <img src="{{ asset(twig_asset_image_directory ~ pdp) }}"  class="rounded-circle image-profil file-upload-image" alt="" width="160" height="160">
                        {% endif %}

{#                        <img class="rounded-circle image-profil file-upload-image" alt="" width="160" height="160" src="#" />#}
                        <div class="image-title-wrap">
                            <button type="button" onclick="removeUpload()" class="remove-image">Supprimer <span class="image-title">Uploaded Image</span></button>
                        </div>
                    </div>
                    <div class="file-upload">
                    <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Ajouter / Modifier image</button>
                    </div>
                    {#{% if pdp == '' %}
                        <img src="{{ asset('build/images/avatarDefault.png') }}"  class="rounded-circle image-profil" alt="" width="160" height="160">
                    {% else %}
                        <img src="{{ asset(twig_asset_image_directory ~ pdp) }}"  class="rounded-circle image-profil" alt="" width="160" height="160">
                    {% endif %}

                    <div class="input-group wrap_input mt-3 profil" style="justify-content: space-between;  overflow: hidden;">
                        <div class="item-input ">
                            {{ form_widget(form.pdp) }}
                            {{ form_errors(form.pdp) }}
                        </div>
                        <div class="item-input " ><a href="" class="text-danger small text-green">{{ form_label(form.pdp) }}</a>  </div>
                        <div class="item-input " ><a href="" class="text-danger small"><label for="">Supprimer</label></a>  </div>
                    </div>#}
                </div>
                <div class="col-lg-6 m-auto align-middle" style="font-family: GalanoGrotesqueAltMedium" >
                    <h1>{{ form.name.vars.value|capitalize }} {{ form.firstname.vars.value|capitalize }}</h1>
                </div>
            </div>

            <div class="row mt-4 bordered">
                <div class="col-lg-3 ">
                    <input readonly type="text" class="border-0 bg-white" value="Nom">
                </div>
                <div class="col-lg-5 ">{{ form_widget(form.name) }}</div>
                <div class="col-4 d-none d-lg-flex ">
                    <div class="w-100 text-center text-green">
                        <a href="javascript:document.getElementById('profil_name').focus()" class="text-green">Modifier</a>
                    </div>
                </div>
            </div>

            <div class="row mt-4 bordered">
                <div class="col-lg-3 ">
                    <input readonly type="text" class="border-0 bg-white" value="Prénom">
                </div>
                <div class="col-lg-5 ">{{ form_widget(form.firstname) }}</div>
                <div class="col-4 d-none d-lg-flex ">
                    <div class="w-100 text-center">
                        <a href="javascript:document.getElementById('profil_firstname').focus()" class="text-green">Modifier</a>
                    </div>
                </div>
            </div>

            <div class="row mt-4 bordered">
                <div class="col-lg-3 ">
                    <input readonly type="text" class="border-0 bg-white" value="Adresse email">
                </div>
                <div class="col-lg-5 ">{{ form_widget(form.email) }}</div>
                <div class="col-4 d-none d-lg-flex ">
                    <div class="w-100 text-center text-green">
                        <a href="javascript:document.getElementById('profil_email').focus()">
                            Modifier
                        </a>
                    </div>
                </div>
            </div>

            <div class="row mt-4 bordered">
                <div class="col-lg-3 ">
                    <input readonly type="text" class="border-0 bg-white" value="Mot de passe">
                </div>
                <div class="col-lg-5 ">{{ form_widget(form.password) }}</div>
                <div class="col-4 d-none d-lg-flex text-center  ">
                    <div class="w-100 text-center text-green">
                        <a href="javascript:document.getElementById('profil_password').focus()">Modifier</a>
                    </div>
                </div>
            </div>

            {% if not is_granted('ROLE_ADMIN') %}
                <hr>
                <div class="row mt-4 bordered">
                    <div class="col-lg-3">
                        <input readonly type="text" class="border-0 bg-white" value="Abonnement">
                    </div>
                    <div class="col-lg-5">
                        <input readonly type="text" class="border-0 bg-white" value="{{ subscription ? subscription.title : 'Aucun' }}">
                    </div>
                    <div class="col-lg-4  text-center mt-2 " >
                        <a class="background-red btn text-center list_table px-4" href="{{ path('app_espace_client_subscription_list') }}">Changer d'abonnement</a>
                    </div>
                </div>
            {% endif %}
            <hr>
            <div class="row mt-4 bordered">
                <div class="col-lg-3">
                    <input readonly type="text" class="border-0 bg-white" value="Langue">
                </div>
                <div class="col-lg-5">{{ form_widget(form.language) }}</div>
            </div>
            <hr>
            <div class="row mt-4 bordered">
                <div class="col-lg-3">
                    <input readonly type="text" class="border-0 bg-white" value="Etat de mon compte">
                </div>
                <div class="col-lg-5">
                    <input type="text" readonly class="border-0 bg-white" value="{{ state_account ? 'Activé' : 'Désactivé' }}">
                </div>
                <div class="col-lg-4 text-center mt-2" >
                    <a href="#" class="btn background-red text-center delete_profil list_table px-4" data-profil="{{ app.user.id }}">Supprimer mon compte</a> </div>
            </div>
        </div>
        <hr>
        <div class="input-group wrap_input mt-5">
            <button type="submit" class="btn  btn-large py-2 login">
                <span class="font-weight-bold">Enregistrer</span>
            </button>
        </div>
        {{ form_end(form) }}

    </div>
    </div>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {

                var reader = new FileReader();

                reader.onload = function(e) {
                    $('.image-upload-wrap').hide();

                    $('.file-upload-image').attr('src', e.target.result);
                    $('.file-upload-content').show();

                    $('.image-title').html(input.files[0].name);
                };

                reader.readAsDataURL(input.files[0]);

            } else {
                removeUpload();
            }
        }

        function removeUpload() {
            $('.file-upload-input').replaceWith($('.file-upload-input').clone());
            $('.file-upload-content').hide();
            $('.image-upload-wrap').show();
        }
        $('.image-upload-wrap').bind('dragover', function () {
            $('.image-upload-wrap').addClass('image-dropping');
        });
        $('.image-upload-wrap').bind('dragleave', function () {
            $('.image-upload-wrap').removeClass('image-dropping');
        });
    </script>
{% endblock %}
