{% extends 'base-espace-client.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="wrap_step" style="justify-content: space-between;">
        <div class="">
            <span class="text-green">Gestions des avis</span>
        </div>
        <div class="float-right border">
            <a class="btn  btn-large py-2 px-4 login" href="{{ path('app_espace_admin_testimonial_add') }}" role="button">Créer un avis</a>
        </div>
    </div>
    <div class="container mt-5" id="list-testimonials">
        <div class="row">
            <div class="col-lg-2 list_meeting_head">
                <span>{{ knp_pagination_sortable(testimonials, 'Nom', 'name') }}
            </div>
            <div class="col-lg-6 list_meeting_head "  style="display: flex; justify-content: flex-start">
                <span>{{ knp_pagination_sortable(testimonials, 'Extrait', 'content') }}</span>
            </div>
            <div class="col-lg-4 list_meeting_head">
                <div class="contaire">
                    <div class="row">
                        <div class="col-5"><span>{{ knp_pagination_sortable(testimonials, 'Note', 'score') }}</span></div>
                    </div>
                </div>
            </div>
{#            <div class="col-lg-3 list_meeting_head"></div>#}
        </div>
        {% for row in testimonials|reverse %}
            <div class="row list_meeting_border_radius mt-2"
                 style="display: flex;
                 justify-content: center;
                 align-items: center;
                ">
                <div class="col-lg-2">
                    <span>{{ row.name }}</span>
                </div>
                <div class="col-lg-6 ">{{ row.content|striptags|slice(0, 58) ~ '...' }}</div>
                <div class="col-lg-1 ">{{ row.score }}</div>
                <div class="col-lg-3 actions">
                    <a href="{{ path('app_espace_admin_testimonial_edit', {'id' : row.id}) }}"
                       role="button"
                       class="btn-icon-right btn btn-danger encart_home_body px-5"
                    >
                        Modifier
                    </a>
                    <a href="#" data-testimonial="{{ row.id }}" class="delete_testimonial">
                        <i class="fa fa-trash text-dark" aria-hidden="true"></i>
                    </a>
                </div>

            </div>
        {% endfor %}
        <div class="list_pagination">{{ knp_pagination_render(testimonials) }}</div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <link href="{{ asset('build/css/toastr.min.css') }}" rel="stylesheet"/>
    <script src="{{ asset('build/js/toastr.min.js') }}"></script>
    <script>
        function copyToPaste(id) {
            var copyText = document.getElementById("linkInput_" + id);
            copyText.select();
            copyText.setSelectionRange(0, 99999);
            document.execCommand("copy");

            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "2000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };

            toastr["success"]("Lien de la réunion copié.")
        }
    </script>
{% endblock %}