{% extends 'base-espace-client.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="wrap_step" style="justify-content: space-between;">
        <div class="">
            <span class="text-green">Gestions des avis</span>
        </div>
        <div class="float-right border">
            <a class="btn  btn-large px-4 login" href="{{ path('app_espace_admin_testimonial_add') }}" role="button">Créer un avis</a>
        </div>
    </div>
    <div class="container mt-5" id="list-testimonials">
        <div class="row">
            <div class="col-lg-4 list_meeting_head">
               {{ knp_pagination_sortable(testimonials, 'Nom', 'name') }}
            </div>
            <div class="col-lg-4 list_meeting_head ">
                {{ knp_pagination_sortable(testimonials, 'Extrait', 'content') }}
            </div>
            <div class="col-lg-4 list_meeting_head">
                {{ knp_pagination_sortable(testimonials, 'Note', 'score') }}
            </div>
        </div>
        <div class="row">
            {% for row in testimonials|reverse %}
                <div class="col-sm-6 col-lg-12  mt-2">
                    <div class="row card-borderer mx-1">
                        <div class="col-lg-4 d-flex-center-left">
                            <div class="w-100">
                                <img class="img-thumbnail bo-img-thumbnail" src="{{ asset('uploads/images/' ~ row.pdc) }}">
                                <span class="ml-2">{{ row.name }}</span>
                            </div>
                        </div>
                        
                        <div class="col-lg-4 d-flex-center-left d-none d-lg-flex">{{ row.content|striptags|slice(0, 58) ~ '...' }}</div>
                        <div class="col-lg-1 d-flex-center-left d-none d-lg-flex">{{ row.score }}</div>

                        <div class="col-lg-3 actions link_identifiant d-flex-center-right">                           
                            <div class="w-100 text-right">
                                <a href="{{ path('app_espace_admin_testimonial_edit', {'id' : row.id}) }}" role="button" class="btn btn-danger">
                                    Modifier
                                </a>
                                <a href="#" data-testimonial="{{ row.id }}" class="delete_testimonial btn btn-danger">
                                    <i class="fa fa-trash text-dark" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="list_pagination">{{ knp_pagination_render(testimonials) }}</div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <link href="{{ asset('build/css/toastr.min.css') }}" rel="stylesheet"/>
    <script src="{{ asset('build/js/toastr.min.js') }}"></script>
    <script>
        function copyToPaste(id) {
            var copyText = document.getElementById("linkInput_" + id);
            copyText.select();
            copyText.setSelectionRange(0, 99999);
            document.execCommand("copy");

            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "2000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };

            toastr["success"]("Lien de la réunion copié.")
        }
    </script>
{% endblock %}