{% extends 'base-espace-client.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row mt-4">
        <div>
            <a class="py-2 text-green" href="{{ path('app_espace_client_subscription_list') }}" >Abonnement</a>
        </div>
    </div>
    <div class="container">
        <section id="list-subscription" >
            <h3 class="text-center text-danger encart_home_head" >Les abonnements </h3>
            <div class="row text-center">
                {% for row in subscriptions %}
                    <div class="col-md-4 mb-5">
                        {% set active = '' %}
                        {% if userSubscription and userSubscription.id == row.id %}
                            {% set active = 'active' %}
                        {% endif %}
                        <div class="card card-tarif {{ active }}" id="tarif{{ row.id }}">
                            <div class="card-body text-center">
                                <h5 class="card-title text-center encart_home_head">{{ row.title }}</h5>
                                <p class="text-justify encart_home_body"><i class="fa fa-check-circle" aria-hidden="true"></i> Durée de réunion {{ row.durationMeeting}} </p>
                                <p class="text-justify encart_home_body"><i class="fa fa-check-circle" aria-hidden="true"></i> Nombre de participants : {{ row.numberParticipant}} </p>
                                <p class="text-justify encart_home_body"><i class="fa fa-check-circle" aria-hidden="true"></i> Création d'une réunion sécurisée en moins de 2 min  </p>
                                {% if row.messagingInstant %}
                                    <p class="text-justify encart_home_body"><i class="fa fa-check-circle" aria-hidden="true"></i> Messagerie instantanée  </p>
                                {% endif %}
                                {% if row.screenSharing %}
                                    <p class="text-justify encart_home_body"><i class="fa fa-check-circle" aria-hidden="true"></i> Partage d'écran en direct  </p>
                                {% endif %}
                                {% if row.recordingMeeting %}
                                    <p class="text-justify encart_home_body"><i class="fa fa-check-circle" aria-hidden="true"></i> Enregistrement des réunions </p>
                                {% endif %}
                                {% if row.reminderMeeting %}
                                    <p class="text-justify encart_home_body"><i class="fa fa-check-circle" aria-hidden="true"></i> Rappel automatique des réunions par mail  </p>
                                {% endif %}
                                <h5 class=" encart_home_head">
                                    {% set choicePopup = '' %}
                                    {% if row.price|length > 0 %}
                                        {{ row.price }} €
                                    {% else %}
                                        Gratuit
                                        {% set choicePopup = 'subsciprition_choice' %}
                                    {% endif %}
                                </h5>
                                <div class="subscription_choice_{{ row.id }}">
                                    {% if userSubscription and userSubscription.id == row.id %}
                                        <button type="button" class="btn btn-secondary encart_home_body ">Actuel</button>
                                    {% else %}
                                        <a href="{{ path('app_espace_client_profil_subscription_pre_payment', {'id':row.id}) }}" role="button" data-subscription="{{ row.id }}" class="btn start encart_home_body {{ choicePopup }}">Séléctionner</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% if row.mode != 'free' and userSubscription and userSubscription.id == row.id %}
                            <div class="mt-5">
                                <button class="btn-icon-right btn btn-danger encart_home_body"
                                        type="button"
                                        id="subscription_deactive"
                                >
                                    Desactiver mon abonnement
                                </button>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}