<footer>
    <div class="container-fluid">
        <div class="row footer-form my-4" >
            <div class="col-lg-12 col-md-10 mx-auto text-center mb-5 mt-3">
                <h2 class="encart_home_head text-red"> Une question ? Contactez-nous !  </h2>
                <div class="encart_home_body space-title">
                    <span class="encart_home_body mb-4">
                        Aenean non accumsan ante. Duis et risus accumsan sem tempus porta nec sit amet est. Sed ut euismod quam. Suspendisse potenti. Aliquam fringilla orci tincidunt, ullamcorper erat in, malesuada metus.
                    </span>
                </div>
                <a href="{{ path('app_contact') }}" role="button" class="btn background-red col-lg-2 text-center mt-3 contact-btn"> <h6>Nous contacter</h6></a>
            </div>
        </div>


        <div class="row footer-social">
            <div class="col-lg-4 footer-brand animated fadeInLeft text-center mt-4">
                <a class="footer-menu encart_home_body" href="#">CGU</a>
                <a class="footer-menu encart_home_body" href="#">CGV</a>
            </div>
{#            <div class="col-lg-8" style="border: solid 1px #31b131">#}
{#                <div class="row flex-wrap-reverse">#}
                    <div class="col-lg-4 footer-brand text-center animated fadeInLeft text-center mt-4">
                        <h6 class=" encart_home_body"><span class="footer-blue-underline" >Made i</span>n France <span class="footer-red-underline footer-heart">with </span> </h6>
                    </div>
                    <div class="col-lg-4 footer-brand animated fadeInLeft text-center mt-4 pb-4">
                        <span class="footer-icon">
                            <a href="https://www.facebook.com/visioiboo" target="_blank">
                                <img class="img-fluid" src="{{ asset('build/images/facebook.png') }}">
                            </a>
                        </span>
                        <span class="footer-icon">
                            <a href="https://www.instagram.com/visioiboo/" target="_blank">
                                <img class="img-fluid" src="{{ asset('build/images/instagram.png') }}">
                            </a>
                        </span>
                        <span class="footer-icon">
                            <a href="https://www.linkedin.com/company/iboolive" target="_blank">
                                <img class="img-fluid" src="{{ asset('build/images/linkedin.png') }}">
                            </a>
                        </span>
                        <span class="footer-icon">
                            <a href="https://twitter.com/iboolive" target="_blank">
                                <img class="img-fluid" src="{{ asset('build/images/twitter.png') }}">
                            </a>
                        </span>
                        <span class="footer-icon">
                            <a href="https://www.youtube.com/channel/UC6wY66JyakqM0V5eE8zAFhQ" target="_blank">
                                <img class="img-fluid" src="{{ asset('build/images/youtube.png') }}">
                            </a>
                        </span>
                    </div>
{#                </div>#}
{#            </div>#}
        </div>

        {% if app.request.cookies.get('iboo_cookie_check') %}
        {% else %}
            <div id="cookie-div" class="cookie-check-div">
                <div class="d-flex justify-content-between align-items-center flex-nowrap" >
                    <div class=""><img src="{{ asset('build/images/Flag_of_Europe.svg') }}" class="img-fluid" style="width: auto; height: 50px; border-radius: 5px"></div>
                    <div class="cookie-check-div-txt" style="max-width: 80%;">
                        <span class="encart_home_head">Nous utilisons les cookies pour mettre nos services à disposition.</span>
                        <span class="encart_home_body">
                        Pour en savoir plus sur les cookies que nous utilisons et obtenir des informations sur vos préférences et vos choix de non participation veuillez cliquer ici. En utilisant iboo, vous acceptez notre utilisation des cookies
                    </span>
                    </div>
                    <div class="mr-3">
                        <a id="cookie-accepted" class="btn btn-default login btn-sm" href="{{ path('app_set_cookie') }}" role="button">Accepter et continuer</a>
                    </div>
                    <div class="cookie-check-div-bt ml-5">
                        <a id="cookie-check-bt" class="btn btn-default encart_home_head" href="#" role="button">X</a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

</footer>
