<footer>
    <div class="container">
        <div class="row footer-form" >
            <div class="col-lg-12 col-md-10 mx-auto text-center">

                <h2 class="encart_home_head text-red mb-4"> Une question ? contactez nous !  </h2>
                <p class="encart_home_body">
                    <p class="encart_home_body mb-4">
                        Aenean non accumsan ante. Duis et risus accumsan sem tempus porta nec sit amet est. Sed ut euismod quam. Suspendisse potenti. Aliquam fringilla orci tincidunt, ullamcorper erat in, malesuada metus.
                    </p>
                </p>
                <a href="{{ path('app_contact') }}" role="button" class="btn background-red col-lg-4 encart_home_body text-center"> <h4>Nous contactez</h4></a>
            </div>
        </div>


        <div class="row footer-social">
            <div class="col-lg-3 footer-brand animated fadeInLeft text-center mt-4">
                <a class="footer-menu encart_home_body" href="#">FAQ</a>
                <a class="footer-menu encart_home_body" href="#">CGU</a>
                <a class="footer-menu encart_home_body" href="#">CGV</a>
            </div>
            <div class="col-lg-9">
                <div class="row flex-wrap-reverse">
                    <div class="col-lg-6 footer-brand text-center animated fadeInLeft text-center mt-4">
                        <h6 class=" encart_home_body"><span class="footer-blue-underline" >Made i</span>n France <span class="footer-red-underline">with <span class="fa fa-heart"></span></span> </h6>
                    </div>
                    <div class="col-lg-6 footer-brand animated fadeInLeft text-center mt-4 pb-4">
                        <span class="footer-icon"><img class="img-fluid" src="{{ asset('build/images/facebook.png') }}"></span>
                        <span class="footer-icon"><img class="img-fluid" src="{{ asset('build/images/instagram.png') }}"></span>
                        <span class="footer-icon"><img class="img-fluid" src="{{ asset('build/images/linkedin.png') }}"></span>
                        <span class="footer-icon"><img class="img-fluid" src="{{ asset('build/images/twitter.png') }}"></span>
                        <span class="footer-icon"><img class="img-fluid" src="{{ asset('build/images/youtube.png') }}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>


</footer>