<footer>
    <div class="container-fluid">
        <div class="row footer-form my-4" >
            <div class="col-lg-12 col-md-10 mx-auto text-center mb-5 mt-3">
                <h2 class="encart_home_head text-red"> Une question ? Contactez nous !  </h2>
                <div class="encart_home_body space-title">
                    <span class="encart_home_body mb-4">
                        Aenean non accumsan ante. Duis et risus accumsan sem tempus porta nec sit amet est. Sed ut euismod quam. Suspendisse potenti. Aliquam fringilla orci tincidunt, ullamcorper erat in, malesuada metus.
                    </span>
                </div>
                <a href="{{ path('app_contact') }}" role="button" class="btn background-red col-lg-2 encart_home_body text-center mt-3 contact-btn pt-3"> <h6>Nous contacter</h6></a>
            </div>
        </div>


        <div class="row footer-social">
            <div class="col-lg-4 footer-brand animated fadeInLeft text-center mt-4">
                <a class="footer-menu encart_home_body" href="#">CGU</a>
                <a class="footer-menu encart_home_body" href="#">CGV</a>
            </div>
            <div class="col-lg-8">
                <div class="row flex-wrap-reverse">
                    <div class="col-lg-6 footer-brand text-center animated fadeInLeft text-center mt-4">
                        <h6 class=" encart_home_body"><span class="footer-blue-underline" >Made i</span>n France <span class="footer-red-underline footer-heart">with </span> </h6>
                    </div>
                    <div class="col-lg-6 footer-brand animated fadeInLeft text-center mt-4 pb-4">
                        <span class="footer-icon">
                            <a href="https://www.facebook.com/hiboo.live/" target="_blank">
                                <img class="img-fluid" src="{{ asset('build/images/facebook.png') }}">
                            </a>
                        </span>
                        <span class="footer-icon">
                            <a href="https://www.instagram.com/hiboolive/" target="_blank">
                                <img class="img-fluid" src="{{ asset('build/images/instagram.png') }}">
                            </a>
                        </span>
                        <span class="footer-icon">
                            <a href="https://www.linkedin.com/company/hiboo-live" target="_blank">
                                <img class="img-fluid" src="{{ asset('build/images/linkedin.png') }}">
                            </a>
                        </span>
                        <span class="footer-icon">
                            <a href="https://twitter.com/HibooLive" target="_blank">
                                <img class="img-fluid" src="{{ asset('build/images/twitter.png') }}">
                            </a>
                        </span>
                        <span class="footer-icon">
                            <a href="https://www.youtube.com/channel/UCks9_YuyDxurPc_g8CASLRg" target="_blank">
                                <img class="img-fluid" src="{{ asset('build/images/youtube.png') }}">
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>


</footer>