<div>
    <div class="w-100 menu-primary" id="menu-primary">
        <nav class="navbar navbar-expand-lg navbar-dark" id="mainNav">
            <div class="container-fluid" style="max-width: 1700px">
                <a class="navbar-brand" href="{{ path('app_homePage') }}">
                     <img src="{{ asset('build/images/Hiboo-logo.svg') }}" alt="Hiboo">
                </a>
                <button class="navbar-toggler navbar-toggler-right " type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="navbar-toggler-icon"></i>
                </button>
                <div class="collapse navbar-collapse pt-2" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_homePage') ~ '#guide' }}">Guide</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_homePage') ~ '#testmoniaux' }}">Testmoniaux</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_homePage') ~ '#mission' }}">Mission</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_homePage') ~ '#tarifs' }}">Tarifs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_homePage') ~ '#partenaires' }}">Partenaires</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_contact') }}">Contact</a>
                        </li>
                    </ul>
                    <ul>
                        <li class="w-100 nav-item sign">
                            {% if app.user == null %}
                                <a class="btn  btn-lg login" href="{{ path('app_login') }}">Se connecter</a>
                                <a class="btn btn-outline-danger signin" href="{{ path('app_register') }}">Je m'inscris</a>
                            {% else%}
                                <a class="btn  btn-sm login" href="{{ path('app_logout') }}">Déconnexion</a>
                                <a class="btn btn-outline-danger signin" href="{{ path('app_espace_admin_dashbord') }}">Tableau de bord</a>
                            {% endif %}
                        </li>
                    </ul>
                    <div class="row py-4 d-lg-none">
                        <a class="col footer-menu encart_home_body" href="#">FAQ</a>
                        <a class="col footer-menu encart_home_body" href="#">CGU</a>
                        <a class="col footer-menu encart_home_body" href="#">CGV</a>
                        <span class="col footer-menu encart_home_body text-right" href="#">
                            <button class="btn circle-btn navbar-closer" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                               <div class="navbar-closer-icon"></div>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
           
        </nav>
    </div>
    <div>
        <div id="menu_espc">
            <div  class="container-fluid" style="max-width: 1700px">
{#                <span class="text-danger">{{ app.request.get('_route') }}</span>#}
                {% set path_dashbord = 'app_espace_client_meeting_list' %}
                {% set path_subscription = 'app_espace_client_subscription_list' %}
                {% set path_meeting = 'app_espace_client_meeting_list' %}

                {% if is_granted('ROLE_ADMIN') %}
                    {% set path_subscription = 'app_espace_admin_subscription_list' %}
                    {% set path_meeting = 'app_espace_admin_meeting_list' %}
                    {% set path_dashbord = 'app_espace_admin_dashbord' %}
                {% endif %}

                <div class="item-link"><a href="{{ path(path_dashbord) }}">Accueil</a> </div>
                <div class="item-link {% if app.request.get('_route') == path_meeting %} active {% endif %}"><a href="{{ path(path_meeting) }}">Réunions</a></div>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="item-link {% if app.request.get('_route') == 'app_espace_admin_testimonial_list' %} active {% endif %}"><a href="{{ path('app_espace_admin_testimonial_list') }}">Avis</a></div>
                    <div class="item-link {% if app.request.get('_route') == 'app_espace_admin_partner_list' %} active {% endif %}"><a href="{{ path('app_espace_admin_partner_list') }}">Partenaire</a></div>
                    <div class="item-link {% if app.request.get('_route') == 'app_espace_admin_video_guide_list' %} active {% endif %}"><a href="{{ path('app_espace_admin_video_guide_list') }}">Vidéos</a></div>
                    <div class="dropdown item-link
                        {% if app.request.get('_route') == 'app_espace_admin_guide_list' %} active {% endif %}
                        {% if app.request.get('_route') == 'app_espace_admin_category_guide' %} active {% endif %}"
                    >
                        <a class=" dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown">Guide</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path('app_espace_admin_guide_list') }}">Guide</a>
                            <a class="dropdown-item" href="{{ path('app_espace_admin_category_guide') }}">Catégorie</a>
                        </div>
                    </div>
                    <div class="dropdown item-link
                        {% if app.request.get('_route') == 'app_espace_admin_user_subscriber_list' %} active {% endif %}
                        {% if app.request.get('_route') == 'app_espace_admin_codePromo_list' %} active {% endif %}
                        {% if app.request.get('_route') == path_subscription %} active {% endif %}
                    ">
                        <a class=" dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown">Abonnement</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path(path_subscription) }}">Les abonnements</a>
                            <a class="dropdown-item" href="{{ path('app_espace_admin_user_subscriber_list') }}">Les abonnés</a>
                            <a class="dropdown-item" href="{{ path('app_espace_admin_codePromo_list') }}">Les coupons</a>
                        </div>
                    </div>
                {% else %}
                    <div class="item-link {% if app.request.get('_route') == 'app_espace_client_profil_edit' %} active {% endif %}"><a href="{{ path('app_espace_client_profil_edit') }}">Profil</a></div>
                    <div class="item-link {% if app.request.get('_route') == 'app_espace_client_parameter_add' %} active {% endif %}"><a href="{{ path('app_espace_client_parameter_add') }}">Paramètre</a></div>
                    <div class="item-link {% if app.request.get('_route') == 'app_espace_client_guide_list' %} active {% endif %}"><a href="{{ path('app_espace_client_guide_list') }}">Guide</a></div>
                    <div class="item-link {% if app.request.get('_route') == 'app_espace_client_subscription_list' %} active {% endif %}"><a href="{{ path(path_subscription) }}">Abonnement</a></div>
                {% endif %}
                <div class="item-link d-none d-lg-block" style="flex: 2; text-align: right">
                    <a id="dropdownMenuButton" data-toggle="dropdown">
                        Bonjour, {{ app.user.firstname }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
