<div>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
            <div class="container-fluid">

                <a class="navbar-brand" href="{{ path('app_homePage') }}">
                    <div id="Groupe_5">
                        <div id="Groupe_2">
                            <div id="Groupe_1">
                                <svg class="Trac_1" viewBox="32.32 0 27.176 41.199">
                                    <path id="Trac_1" d="M 56.3442268371582 15.36313152313232 C 58.43584823608398 17.58732414245605 59.49639129638672 20.48908424377441 59.49639129638672 24.03895568847656 L 59.49639129638672 41.19911575317383 L 53.48665618896484 41.19911575317383 L 53.48665618896484 25.23206329345703 C 53.48665618896484 22.90476226806641 52.86801147460938 21.03408432006836 51.63071060180664 19.62002944946289 C 50.39340972900391 18.20597267150879 48.75840759277344 17.49894332885742 46.74043273925781 17.49894332885742 C 44.10380935668945 17.49894332885742 42.04164505004883 18.39745903015137 40.52447891235352 20.19448852539062 C 39.02204132080078 21.99151802062988 38.27082443237305 24.6134147644043 38.27082443237305 28.08963775634766 L 38.27082443237305 41.19911575317383 L 32.31999969482422 41.19911575317383 L 32.31999969482422 0 L 38.27082443237305 0 L 38.27082443237305 16.30583572387695 C 40.67177963256836 13.44826221466064 43.95650863647461 12.01947784423828 48.11030197143555 12.01947784423828 C 51.49813461303711 12.01947784423828 54.23786926269531 13.13893985748291 56.3442268371582 15.36313152313232 Z">
                                    </path>
                                </svg>
                                <svg class="Trac_2" viewBox="56.74 8.7 5.951 28.384">
                                    <path id="Trac_2" d="M 56.73999404907227 37.08423614501953 L 56.73999404907227 8.699999809265137 L 62.69081878662109 8.699999809265137 L 62.69081878662109 37.08423614501953 L 56.73999404907227 37.08423614501953 Z">
                                    </path>
                                </svg>
                                <svg class="Trac_3" viewBox="67.2 0 30.329 41.995">
                                    <path id="Trac_3" d="M 93.34530639648438 16.24691772460938 C 96.12923431396484 19.07502937316895 97.52854919433594 22.65435791015625 97.52854919433594 26.99963569641113 C 97.52854919433594 31.38910102844238 96.14395141601562 34.98316192626953 93.374755859375 37.78181076049805 C 90.60557556152344 40.58046722412109 87.2913818359375 41.99452209472656 83.44690704345703 41.99452209472656 C 79.17527770996094 41.99452209472656 75.74324798583984 40.63938522338867 73.15081787109375 37.92911148071289 L 73.15081787109375 41.18438339233398 L 67.19999694824219 41.18438339233398 L 67.19999694824219 0 L 73.15081787109375 0 L 73.15081787109375 16.08488845825195 C 75.74324798583984 13.37461471557617 79.17529296875 12.01947784423828 83.44690704345703 12.01947784423828 C 87.26192474365234 12.01947784423828 90.56138610839844 13.43353366851807 93.34530639648438 16.24691772460938 Z M 89.1031494140625 34.06991577148438 C 90.85598754882812 32.30234527587891 91.73977661132812 29.94558715820312 91.73977661132812 26.99963188171387 C 91.73977661132812 24.06841278076172 90.85598754882812 21.71165084838867 89.1031494140625 19.92935180664062 C 87.35029602050781 18.14705085754395 85.14083862304688 17.26326560974121 82.46001434326172 17.26326560974121 C 79.98542785644531 17.26326560974121 77.80541229248047 18.17650985717773 75.93473815917969 19.97353935241699 C 74.06407165527344 21.78529930114746 73.13608551025391 24.12732887268066 73.13608551025391 26.98490333557129 C 73.13608551025391 29.84247589111328 74.06405639648438 32.18450546264648 75.93473815917969 33.99626159667969 C 77.80541229248047 35.80802154541016 79.98542785644531 36.70653915405273 82.46001434326172 36.70653915405273 C 85.14083862304688 36.73600006103516 87.35029602050781 35.85221481323242 89.1031494140625 34.06991577148438 Z">
                                    </path>
                                </svg>
                                <svg class="Trac_4" viewBox="88.62 8.27 30.432 29.725">
                                    <path id="Trac_4" d="M 114.6769256591797 12.42379093170166 C 117.5934219360352 15.19298267364502 119.0516586303711 18.74285316467285 119.0516586303711 23.10285949707031 C 119.0516586303711 27.4481372833252 117.5786895751953 31.02746963500977 114.6474685668945 33.8113899230957 C 111.7015228271484 36.59531402587891 108.122200012207 37.9946403503418 103.8947448730469 37.9946403503418 C 99.62311553955078 37.9946403503418 96.01432800292969 36.59531402587891 93.05364990234375 33.8113899230957 C 90.09296417236328 31.02746963500977 88.6199951171875 27.46286964416504 88.6199951171875 23.10285949707031 C 88.6199951171875 18.75758361816406 90.09296417236328 15.19298267364502 93.05364990234375 12.42379093170166 C 96.01432800292969 9.654597282409668 99.62311553955078 8.270000457763672 103.8947448730469 8.270000457763672 C 108.1663818359375 8.270000457763672 111.7604370117188 9.654597282409668 114.6769256591797 12.42379093170166 Z M 110.4789428710938 30.11422348022461 C 112.3496246337891 28.30246353149414 113.2776031494141 25.96043395996094 113.2776031494141 23.10285949707031 C 113.2776031494141 20.24528884887695 112.3496398925781 17.90325736999512 110.4789428710938 16.09149742126465 C 108.6082763671875 14.2797384262085 106.4135284423828 13.38122272491455 103.8947448730469 13.38122272491455 C 101.3023071289062 13.38122272491455 99.078125 14.29446697235107 97.22217559814453 16.09149742126465 C 95.36622619628906 17.90325736999512 94.45298004150391 20.24528884887695 94.45298004150391 23.10285949707031 C 94.45298004150391 25.96043395996094 95.38095855712891 28.30246353149414 97.22217559814453 30.11422348022461 C 99.078125 31.92598342895508 101.2875900268555 32.82449722290039 103.8947448730469 32.82449722290039 C 106.4135284423828 32.82449722290039 108.6082763671875 31.92598342895508 110.4789428710938 30.11422348022461 Z">
                                    </path>
                                </svg>
                                <svg class="Trac_5" viewBox="105.37 8.27 30.432 29.725">
                                    <path id="Trac_5" d="M 131.4269256591797 12.42379093170166 C 134.3434143066406 15.19298267364502 135.8016662597656 18.74285316467285 135.8016662597656 23.10285949707031 C 135.8016662597656 27.4481372833252 134.3286895751953 31.02746963500977 131.3974609375 33.8113899230957 C 128.4515228271484 36.59531402587891 124.872184753418 37.9946403503418 120.6447448730469 37.9946403503418 C 116.3731155395508 37.9946403503418 112.7643280029297 36.59531402587891 109.8036499023438 33.8113899230957 C 106.8429641723633 31.02746963500977 105.3699798583984 27.46286964416504 105.3699798583984 23.10285949707031 C 105.3699798583984 18.75758361816406 106.8429641723633 15.19298267364502 109.8036499023438 12.42379093170166 C 112.7643280029297 9.654597282409668 116.3731155395508 8.270000457763672 120.6447448730469 8.270000457763672 C 124.9016494750977 8.270000457763672 128.4956970214844 9.654597282409668 131.4269256591797 12.42379093170166 Z M 127.2142105102539 30.11422348022461 C 129.0848999023438 28.30246353149414 130.0128784179688 25.96043395996094 130.0128784179688 23.10285949707031 C 130.0128784179688 20.24528884887695 129.0848999023438 17.90325736999512 127.2142105102539 16.09149742126465 C 125.3435440063477 14.2797384262085 123.148796081543 13.38122272491455 120.630012512207 13.38122272491455 C 118.0375747680664 13.38122272491455 115.8133926391602 14.29446697235107 113.9574432373047 16.09149742126465 C 112.1014785766602 17.90325736999512 111.1882476806641 20.24528884887695 111.1882476806641 23.10285949707031 C 111.1882476806641 25.96043395996094 112.1162261962891 28.30246353149414 113.9574432373047 30.11422348022461 C 115.8133926391602 31.92598342895508 118.0228576660156 32.82449722290039 120.630012512207 32.82449722290039 C 123.148811340332 32.82449722290039 125.3435440063477 31.92598342895508 127.2142105102539 30.11422348022461 Z">
                                    </path>
                                </svg>
                            </div>
                            <svg class="Trac_6" viewBox="96.33 15.524 7.993 8.267">
                                <path id="Trac_6" d="M 96.3447265625 18.18430709838867 C 96.91918182373047 17.84552192687988 97.67040252685547 17.86025428771973 98.25959014892578 18.27268600463867 C 99.02553558349609 18.83241653442383 99.20230102539062 19.92241668701172 98.62783813476562 20.70309448242188 C 98.08283233642578 21.4395809173584 97.09593963623047 21.60160827636719 96.32999420166016 21.13025856018066 C 96.60986328125 21.85201263427734 97.08122253417969 22.50012588500977 97.74406433105469 22.98620796203613 C 99.58528137207031 24.34134292602539 102.1777114868164 23.94363975524902 103.5181198120117 22.1024227142334 C 104.8732452392578 20.26120185852051 104.4755554199219 17.66876411437988 102.6343231201172 16.3283576965332 C 100.7931060791016 14.97322082519531 98.20067596435547 15.37092399597168 96.86026763916016 17.21214294433594 C 96.63932800292969 17.5214672088623 96.47730255126953 17.84552192687988 96.3447265625 18.18430709838867 Z">
                                </path>
                            </svg>
                            <svg class="Trac_7" viewBox="113.1 15.555 7.976 8.263">
                                <path id="Trac_7" d="M 113.0999984741211 18.21367835998535 C 113.6744613647461 17.87489700317383 114.4256744384766 17.87489700317383 115.0148620605469 18.30205726623535 C 115.7955474853516 18.86178588867188 115.9575729370117 19.95178985595703 115.3978500366211 20.73246383666992 C 114.8675689697266 21.46895217895508 113.8659515380859 21.6309814453125 113.0999984741211 21.17435646057129 C 113.3798675537109 21.8961124420166 113.8512268066406 22.54422378540039 114.5140686035156 23.03030586242676 C 116.3552856445312 24.37071228027344 118.9477157592773 23.95827865600586 120.2881240844727 22.11706161499023 C 121.6285171508789 20.27584075927734 121.2160873413086 17.68340301513672 119.374870300293 16.34299659729004 C 117.5336532592773 15.00258922576904 114.9412155151367 15.41502285003662 113.6008148193359 17.2562427520752 C 113.3798675537109 17.55083847045898 113.2325668334961 17.87489318847656 113.0999984741211 18.21367835998535 Z">
                                </path>
                            </svg>
                            <svg class="Trac_8" viewBox="56.18 0.39 7.615 7.394">
                                <path id="Trac_8" d="M 62.70528030395508 1.48000168800354 C 63.42704010009766 2.201759338378906 63.79528427124023 3.085544586181641 63.79528427124023 4.116627216339111 C 63.79528427124023 5.191899299621582 63.44176483154297 6.060955047607422 62.73473739624023 6.753252983093262 C 62.02771377563477 7.445550918579102 61.12919616699219 7.784335613250732 60.02446746826172 7.784335613250732 C 58.91973495483398 7.784335613250732 58.00649261474609 7.445550918579102 57.27000045776367 6.753252983093262 C 56.54824447631836 6.060955047607422 56.18000030517578 5.191899299621582 56.18000030517578 4.116627216339111 C 56.18000030517578 3.085544586181641 56.54824447631836 2.216489315032959 57.27000045776367 1.48000180721283 C 57.99176025390625 0.7582439184188843 58.90501022338867 0.3900001049041748 60.02446746826172 0.3900001049041748 C 61.08500671386719 0.3899998962879181 61.98352432250977 0.7435140609741211 62.70528030395508 1.48000168800354 Z">
                                </path>
                            </svg>
                            <svg class="Trac_9" viewBox="103.92 23.88 10.06 6.717">
                                <path id="Trac_9" d="M 113.9804229736328 23.92418670654297 L 108.9575653076172 30.59676742553711 L 103.9199905395508 23.87999725341797 L 113.9804229736328 23.92418670654297 Z">
                                </path>
                            </svg>
                        </div>
                        <div id="Groupe_4">
                            <div id="Groupe_3">
                                <svg class="Trac_10" viewBox="0.55 -0.004 38.238 15.103">
                                    <path id="Trac_10" d="M 9.520419120788574 8.721771240234375 C 13.0408296585083 8.721771240234375 16.16353607177734 10.35677337646484 18.1373233795166 12.87556076049805 C 18.66759300231934 13.55313014984131 19.08002853393555 14.30434799194336 19.43354034423828 15.09975337982178 C 21.06854248046875 11.35839653015137 24.89827919006348 8.721771240234375 29.36139869689941 8.721771240234375 C 32.88180923461914 8.721771240234375 36.0045166015625 10.35677337646484 37.97830200195312 12.87556076049805 C 38.27290344238281 13.25853443145752 38.53803253173828 13.6709680557251 38.78843688964844 14.09813022613525 C 36.2696533203125 6.114604949951172 28.89004516601562 0.222703829407692 20.02273368835449 0.001757539226673543 C 11.06704330444336 -0.2044589817523956 3.348652839660645 5.437036514282227 0.5499999523162842 13.42056083679199 C 2.479597568511963 10.60717964172363 5.764332294464111 8.721771240234375 9.520419120788574 8.721771240234375 Z">
                                    </path>
                                </svg>
                            </div>
                            <svg class="Trac_11" viewBox="17.29 10.25 8.028 8.271">
                                <path id="Trac_11" d="M 25.31788635253906 15.75909805297852 C 24.74342727661133 16.11261177062988 23.99220657348633 16.12734413146973 23.40301895141602 15.71491241455078 C 22.62234115600586 15.16991233825684 22.4161262512207 14.07990837097168 22.96112823486328 13.29923057556152 C 23.47666931152344 12.54801368713379 24.47829437255859 12.35652542114258 25.24423980712891 12.81314849853516 C 24.94964218139648 12.10612106323242 24.46356201171875 11.45801162719727 23.78599166870117 10.98666000366211 C 21.91531372070312 9.690441131591797 19.33760833740234 10.14706420898438 18.02666091918945 12.01774215698242 C 16.73044204711914 13.88842010498047 17.18706512451172 16.46612739562988 19.05774307250977 17.77707481384277 C 20.92842483520508 19.0880241394043 23.50613021850586 18.61667060852051 24.81707763671875 16.74599075317383 C 25.05275344848633 16.42193794250488 25.20005035400391 16.0978832244873 25.31788635253906 15.75909805297852 Z">
                                </path>
                            </svg>
                            <svg class="Trac_12" viewBox="3.834 10.241 7.993 8.265">
                                <path id="Trac_12" d="M 11.82651233673096 15.82214260101318 C 11.25205135345459 16.16092491149902 10.50083446502686 16.17565536499023 9.926374435424805 15.76322269439697 C 9.145697593688965 15.2034912109375 8.95421028137207 14.1282205581665 9.513940811157227 13.34754180908203 C 10.04421138763428 12.59632587432861 11.0458345413208 12.41956901550293 11.81178188323975 12.87619209289551 C 11.53191757202148 12.15443325042725 11.0458345413208 11.49159622192383 10.35353660583496 11.00551414489746 C 8.497587203979492 9.679834365844727 5.919880390167236 10.12172698974609 4.594202995300293 11.99240684509277 C 3.268524646759033 13.86308670043945 3.725147247314453 16.44079208374023 5.581096172332764 17.75174140930176 C 7.451775074005127 19.06268692016602 10.02948188781738 18.62079429626465 11.34043025970459 16.76484489440918 C 11.56137561798096 16.47025108337402 11.70867347717285 16.14619636535645 11.82651233673096 15.82214260101318 Z">
                                </path>
                            </svg>
                            <svg class="Trac_13" viewBox="0.01 15.4 39.726 17.911">
                                <path id="Trac_13" d="M 39.33843994140625 16.31324768066406 C 37.62978744506836 19.892578125 33.88843154907227 22.36717414855957 29.55788230895996 22.36717414855957 C 26.7886905670166 22.36717414855957 24.26989936828613 21.33609199523926 22.35503387451172 19.65690040588379 L 19.89516448974609 23.92852783203125 C 19.76259613037109 24.14947319030762 19.43854331970215 24.14947319030762 19.30597496032715 23.92852783203125 L 16.89029502868652 19.76000785827637 C 14.99015808105469 21.38028144836426 12.50082874298096 22.36717414855957 9.775825500488281 22.36717414855957 C 5.445278644561768 22.36717414855957 1.718652129173279 19.86311721801758 0.01000022888183594 16.28378677368164 C 0.4518927931785583 18.77311515808105 1.350407719612122 21.12987518310547 2.631896257400513 23.2067699432373 C 2.705544948577881 23.32460975646973 2.793923616409302 23.45717620849609 2.867572069168091 23.58974456787109 C 3.103248119354248 24.03163719177246 3.221086263656616 24.53244781494141 3.221086263656616 25.06271934509277 L 1.158920764923096 32.01516342163086 C 1.158920764923096 32.01516342163086 1.100001692771912 32.22137451171875 1.100001692771912 32.33921813964844 C 1.055812478065491 32.86948776245117 1.468245387077332 33.29664611816406 1.969057083129883 33.31137847900391 C 2.145814180374146 33.31137847900391 2.425679683685303 33.20827484130859 2.425679683685303 33.20827484130859 L 9.039337158203125 30.95461654663086 C 9.407581329345703 30.80731964111328 9.790554046630859 30.73367309570312 10.21771812438965 30.7484016418457 C 10.58596134185791 30.76313400268555 10.95420551300049 30.8367805480957 11.29298973083496 30.98407745361328 C 11.63177394866943 31.13137435913086 12.91326236724854 31.64691734313965 14.20948028564453 32.04461669921875 C 15.50569915771484 32.44232177734375 17.87718772888184 33.06097412109375 19.64476013183594 33.09043121337891 C 30.04396438598633 33.34083557128906 38.45465850830078 25.47514724731445 39.73614120483398 15.39999771118164 C 39.60357284545898 15.70932483673096 39.47100830078125 16.01865005493164 39.33843994140625 16.31324768066406 Z">
                                </path>
                            </svg>
                        </div>
                    </div>
                </a>
                <button class="navbar-toggler navbar-toggler-right " type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="navbar-toggler-icon"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_homePage') ~ '#guide' }}">Guide</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_homePage') ~ '#testmoniaux' }}">Testmoniaux</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_homePage') ~ '#mission' }}">Mission</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_homePage') ~ '#tarifs' }}">Tarifs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_homePage') ~ '#partenaires' }}">Partenaires</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_contact') }}">Contact</a>
                        </li>
                    </ul>
                    <ul>
                        <li class="nav-item sign">
                            {% if app.user == null %}
                                <a class="btn  btn-lg login text-center" href="{{ path('app_login') }}">Se connecter</a>
                                <a class="btn btn-outline-danger btn-lg signin" href="{{ path('app_register') }}">Je m'inscris</a>
                            {% else%}
                                <a class="btn  btn-sm login text-center" href="{{ path('app_logout') }}">Déconnexion</a>
                                <a class="btn btn-outline-danger btn-sm signin" href="{{ path('app_espace_admin_dashbord') }}">Tableau de bord</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div>
        <div id="menu_espc">
            <div  class="container-fluid">
{#                <span class="text-danger">{{ app.request.get('_route') }}</span>#}
                {% set path_dashbord = 'app_espace_client_meeting_list' %}
                {% set path_subscription = 'app_espace_client_subscription_list' %}
                {% set path_meeting = 'app_espace_client_meeting_list' %}

                {% if is_granted('ROLE_ADMIN') %}
                    {% set path_subscription = 'app_espace_admin_subscription_list' %}
                    {% set path_meeting = 'app_espace_admin_meeting_list' %}
                    {% set path_dashbord = 'app_espace_admin_dashbord' %}
                {% endif %}

                <div class="item-link"><a href="{{ path(path_dashbord) }}">Accueil</a> </div>
                <div class="item-link {% if app.request.get('_route') == path_meeting %} active {% endif %}"><a href="{{ path(path_meeting) }}">Réunions</a></div>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="item-link {% if app.request.get('_route') == 'app_espace_admin_testimonial_list' %} active {% endif %}"><a href="{{ path('app_espace_admin_testimonial_list') }}">Avis</a></div>
                    <div class="item-link {% if app.request.get('_route') == 'app_espace_admin_partner_list' %} active {% endif %}"><a href="{{ path('app_espace_admin_partner_list') }}">Partenaire</a></div>
                    <div class="item-link {% if app.request.get('_route') == 'app_espace_admin_video_guide_list' %} active {% endif %}"><a href="{{ path('app_espace_admin_video_guide_list') }}">Vidéos</a></div>
                    <div class="dropdown item-link
                        {% if app.request.get('_route') == 'app_espace_admin_guide_list' %} active {% endif %}
                        {% if app.request.get('_route') == 'app_espace_admin_category_guide' %} active {% endif %}"
                    >
                        <a class=" dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown">Guide</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path('app_espace_admin_guide_list') }}">Guide</a>
                            <a class="dropdown-item" href="{{ path('app_espace_admin_category_guide') }}">Catégorie</a>
                        </div>
                    </div>
                    <div class="dropdown item-link
                        {% if app.request.get('_route') == 'app_espace_admin_user_subscriber_list' %} active {% endif %}
                        {% if app.request.get('_route') == 'app_espace_admin_codePromo_list' %} active {% endif %}
                        {% if app.request.get('_route') == path_subscription %} active {% endif %}
                    ">
                        <a class=" dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown">Abonnement</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path(path_subscription) }}">Les abonnements</a>
                            <a class="dropdown-item" href="{{ path('app_espace_admin_user_subscriber_list') }}">Les abonnés</a>
                            <a class="dropdown-item" href="{{ path('app_espace_admin_codePromo_list') }}">Les coupons</a>
                        </div>
                    </div>
                {% else %}
                    <div class="item-link {% if app.request.get('_route') == 'app_espace_client_profil_edit' %} active {% endif %}"><a href="{{ path('app_espace_client_profil_edit') }}">Profil</a></div>
                    <div class="item-link {% if app.request.get('_route') == 'app_espace_client_parameter_add' %} active {% endif %}"><a href="{{ path('app_espace_client_parameter_add') }}">Paramètre</a></div>
                    <div class="item-link {% if app.request.get('_route') == 'app_espace_client_guide_list' %} active {% endif %}"><a href="{{ path('app_espace_client_guide_list') }}">Guide</a></div>
                    <div class="item-link {% if app.request.get('_route') == 'path_subscription' %} active {% endif %}"><a href="{{ path(path_subscription) }}">Abonnement</a></div>
                {% endif %}
                <div class="item-link" style="flex: 2; text-align: right">
                    <a id="dropdownMenuButton" data-toggle="dropdown">
                        Bonjour, {{ app.user.firstname }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
