<div>
    <div class="w-100 menu-primary d-none d-lg-block" id="menu-primary">
        <nav class="navbar navbar-expand-lg navbar-dark" id="mainNav">
            <div class="container-fluid" style="max-width: 1700px">
                <a class="navbar-brand" href="{{ path('app_homePage') }}">
                     <img src="{{ asset('build/images/Hiboo-logo.svg') }}" alt="Hiboo">
                </a>
                <button class="navbar-toggler navbar-toggler-right " type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="navbar-toggler-icon"></i>
                </button>
                <div class="collapse navbar-collapse pt-2" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_homePage') ~ '#guide' }}">Guide</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_homePage') ~ '#testmoniaux' }}">Testmoniaux</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_homePage') ~ '#mission' }}">Mission</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_homePage') ~ '#tarifs' }}">Tarifs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_homePage') ~ '#partenaires' }}">Partenaires</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_contact') }}">Contact</a>
                        </li>
                    </ul>
                    <ul>
                        <li class="w-100 nav-item sign">
                            {% if app.user == null %}
                                <a class="btn  btn-lg login" href="{{ path('app_login') }}">Se connecter</a>
                                <a class="btn btn-outline-danger signin" href="{{ path('app_register') }}">Je m'inscris</a>
                            {% else%}
                                <a class="btn  btn-sm login" href="{{ path('app_logout') }}">Déconnexion</a>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a class="btn btn-outline-danger btn-sm signin" href="{{ path('app_espace_admin_dashbord') }}">Tableau de bord</a>
                                {% else %}
                                    <a class="btn btn-outline-danger btn-sm signin" href="{{ path('app_espace_client_meeting_list') }}">Tableau de bord</a>
                                {% endif %}
                            {% endif %}
                        </li>
                    </ul>
                    <div class="row py-4 d-lg-none">
                        <a class="col footer-menu encart_home_body" href="#">FAQ</a>
                        <a class="col footer-menu encart_home_body" href="#">CGU</a>
                        <a class="col footer-menu encart_home_body" href="#">CGV</a>
                        <span class="col footer-menu encart_home_body text-right" href="#">
                            <button class="btn circle-btn navbar-closer" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                               <div class="navbar-closer-icon"></div>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div>
        <div class="d-block d-lg-none text-center fake-nav-brand py-3">
            <a class="navbar-brand" href="{{ path('app_homePage') }}">
                <img src="{{ asset('build/images/Hiboo-logo.svg') }}" alt="Hiboo">
            </a>
        </div>
        <div id="menu_espc">
            {#<span class="text-danger">{{ app.request.get('_route') }}</span>#}
            {% set path_dashbord = 'app_espace_client_meeting_list' %}
            {% set path_subscription = 'app_espace_client_subscription_list' %}
            {% set path_meeting = 'app_espace_client_meeting_list' %}

            {% if is_granted('ROLE_ADMIN') %}
                {% set path_subscription = 'app_espace_admin_subscription_list' %}
                {% set path_meeting = 'app_espace_admin_meeting_list' %}
                {% set path_dashbord = 'app_espace_admin_dashbord' %}
            {% endif %}

            <nav class="navbar navbar-dark navbar-expand-lg">
                 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBarBo" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="custom-navbar-toggler-icon"></div>
                </button>
                <div class="collapse navbar-collapse pt-2" id="navBarBo">
                    <ul class="navbar-nav">
                        <li class="nav-item item-link">
                        <a href="{{ path(path_dashbord) }}">Accueil</a>
                        </li>
                        <li class="nav-item  item-link {% if app.request.get('_route') == path_meeting %} active {% endif %}">
                        <a href="{{ path(path_meeting) }}">Réunions</a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item  item-link">
                                <a href="{{ path(path_dashbord) }}">Accueil</a>
                            </li>
                            <li class="nav-item  item-link {% if app.request.get('_route') == 'app_espace_admin_testimonial_list' %} active {% endif %}">
                                <a href="{{ path('app_espace_admin_testimonial_list') }}">Avis</a>
                            </li>
                            <li class="nav-item  item-link {% if app.request.get('_route') == 'app_espace_admin_partner_list' %} active {% endif %}">
                                <a href="{{ path('app_espace_admin_partner_list') }}">Partenaire</a>
                            </li>
                            <li class="nav-item  item-link {% if app.request.get('_route') == 'app_espace_admin_video_guide_list' %} active {% endif %}">
                                <a href="{{ path('app_espace_admin_video_guide_list') }}">Vidéos</a>
                            </li>

                            <li class="nav-item  item-link dropdown
                                {% if app.request.get('_route') == 'app_espace_admin_guide_list' %} active {% endif %}
                                    {% if app.request.get('_route') == 'app_espace_admin_category_guide' %} active {% endif %}"
                                >
                                <a class=" dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown">Guide</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{ path('app_espace_admin_guide_list') }}">Guide</a>
                                    <a class="dropdown-item" href="{{ path('app_espace_admin_category_guide') }}">Catégorie</a>
                                </div>
                            </li>
                            <li class="nav-item  item-link dropdown
                                {% if app.request.get('_route') == 'app_espace_admin_user_subscriber_list' %} active {% endif %}
                                {% if app.request.get('_route') == 'app_espace_admin_codePromo_list' %} active {% endif %}
                                {% if app.request.get('_route') == path_subscription %} active {% endif %}
                            ">
                                <a class=" dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown">Abonnement</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{ path(path_subscription) }}">Les abonnements</a>
                                    <a class="dropdown-item" href="{{ path('app_espace_admin_user_subscriber_list') }}">Les abonnés</a>
                                    <a class="dropdown-item" href="{{ path('app_espace_admin_codePromo_list') }}">Les coupons</a>
                                </div>
                            </li>

                        {% else %}
                            <li class="nav-item  item-link {% if app.request.get('_route') == 'app_espace_client_profil_edit' %} active {% endif %}">
                                <a href="{{ path('app_espace_client_profil_edit') }}">Profil</a>
                            </li>
                            <li class="nav-item  item-link {% if app.request.get('_route') == 'app_espace_client_parameter_add' %} active {% endif %}">
                                <a href="{{ path('app_espace_client_parameter_add') }}">Paramètres</a>
                            </li>
                            <li class="nav-item  item-link {% if app.request.get('_route') == 'app_espace_client_guide_list' %} active {% endif %}">
                                <a href="{{ path('app_espace_client_guide_list') }}">Guide</a>
                            </li>
                            <li class="nav-item  item-link {% if app.request.get('_route') == 'app_espace_client_subscription_list' %} active {% endif %}">
                                <a href="{{ path(path_subscription) }}">Abonnement</a>
                            </li>
                        {% endif %}
                    </ul>
                    <ul class="user-right-menu">
                        <li class="nav-item d-none d-lg-block" style="flex: 2; text-align: right">
                            <a id="dropdownMenuButton" data-toggle="dropdown" class="mr-1">
                                    Bonjour, {{ app.user.firstname }}
                            </a>
                            {% if app.user.pdp == '' %}
                                <img src="{{ asset('build/images/avatarDefault.png') }}"  class="rounded-circle image-profil" alt="" style="width: 40px; height: 40px">
                            {% else %}
                                <img src="{{ asset(twig_asset_image_directory ~ app.user.pdp) }}"  class="rounded-circle image-profil" alt=""  style="width: 40px; height: 40px">
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
