<div class="rs-icons">
    <div id="facebook" class="home-icon">
        <a href="https://www.facebook.com/visioiboo" target="_blank">
           <div class="icon"></div>
        </a>
    </div>
    <div id="instagram" class="home-icon">
        <a href="https://www.instagram.com/visioiboo/" target="_blank">
            <div class="icon"></div>
        </a>
    </div>
    <div id="linkedin" class="home-icon">
        <a href="https://www.linkedin.com/company/iboolive" target="_blank">
            <div class="icon"></div>
        </a>
    </div>
    <div id="twitter" class="home-icon">
        <a href="https://twitter.com/iboolive" target="_blank">
            <div class="icon"></div>
        </a>
    </div>
    <div id="youtube" class="home-icon ">
        <a href="https://www.youtube.com/channel/UC6wY66JyakqM0V5eE8zAFhQ" target="_blank">
            <div class="icon"></div>
        </a>
    </div>
</div>

{#<!--  
<img class="img-fluid" src="{{ asset('build/images/linkedin-dark.png') }}">
<img class="img-fluid" src="{{ asset('build/images/twitter-dark.png') }}">
<img class="img-fluid" src="{{ asset('build/images/youtube-dark.png') }}">
<img class="img-fluid" src="{{ asset('build/images/instagram-dark.png') }}">
<img class="img-fluid" src="{{ asset('build/images/facebook-dark.png') }}">
->
#}