<div class="rs-icons">
    <div id="facebook" class="home-icon">
        <img class="img-fluid" src="{{ asset('build/images/facebook-dark.png') }}">
    </div>
    <div id="instagram" class="home-icon">
        <img class="img-fluid" src="{{ asset('build/images/instagram-dark.png') }}">
    </div>
    <div id="linkedin" class="home-icon">
        <img class="img-fluid" src="{{ asset('build/images/linkedin-dark.png') }}">
    </div>
    <div id="twitter" class="home-icon">
        <img class="img-fluid" src="{{ asset('build/images/twitter-dark.png') }}">
    </div>
    <div id="youtube" class="home-icon ">
        <img class="img-fluid" src="{{ asset('build/images/youtube-dark.png') }}">
    </div>
</div>