{% extends 'base-espace-client.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="container">
        <section id="subscription">
            <div class="card" >
                <div class="card-body" style="box-shadow: #f0f0f0">
                    <div class="card-text ">
                        <div class="row mt-5">
                            <div class="col-lg-12 ">
                                {{ form_start(form) }}
                                <h5 class="encart_home_head mb-4">
                                    {{title}}{% if mode %} - #{{ mode.title }}{% endif %}
                                </h5>
                                <div class="input-group wrap_input ">
                                    <div class="item-input-label">{{ form_label(form.title) }}</div>
                                    <div class="item-input">{{ form_widget(form.title) }}</div>
                                </div>
                                <div class="input-group wrap_input ">
                                    <div class="item-input-label">{{ form_label(form.duration) }}</div>
                                    <div class="item-input">{{ form_widget(form.duration) }}</div>
                                </div>
                                <hr>
                                <div class="input-group wrap_input">
                                    <div class="item-input-label">{{ form_label(form.mode) }}</div>
                                    <div class="item-input">{{ form_widget(form.mode) }}</div>
                                </div>

                                <hr>
                                <h5 class="encart_home_head mb-4">Réunion publique ou privée</h5>
                                <div class="input-group wrap_input">
                                    <div class="item-input-label">{{ form_label(form.duration_meeting) }}</div>
                                    <div class="item-input">{{ form_widget(form.duration_meeting) }}</div>
                                </div>
                                <hr>
                                <h5 class="encart_home_head mb-4">Inviter des participants</h5>
                                <div class="input-group wrap_input">
                                    <div class="item-input-label">{{ form_label(form.numberParticipant) }}</div>
                                    <div class="item-input">{{ form_widget(form.numberParticipant) }}</div>
                                </div>
                                <div class="input-group wrap_input">
                                    <div class="item-input-label">{{ form_label(form.messagingInstant) }}</div>
                                    <div class="item-input">{{ form_widget(form.messagingInstant) }}</div>
                                </div>
                                <div class="input-group wrap_input">
                                    <div class="item-input-label">{{ form_label(form.screenSharing) }}</div>
                                    <div class="item-input">{{ form_widget(form.screenSharing) }}</div>
                                </div>
                                <div class="input-group wrap_input">
                                    <div class="item-input-label">{{ form_label(form.recordingMeeting) }}</div>
                                    <div class="item-input">{{ form_widget(form.recordingMeeting) }}</div>
                                </div>
                                <div class="input-group wrap_input">
                                    <div class="item-input-label">{{ form_label(form.reminderMeeting) }}</div>
                                    <div class="item-input">{{ form_widget(form.reminderMeeting) }}</div>
                                </div>
                                <div class="input-group wrap_input">
                                    <div class="item-input-label">{{ form_label(form.price) }}</div>
                                    <div class="item-input">{{ form_widget(form.price) }}</div>
                                </div>
                                <hr>
                                <div class="form-group col-lg-12 mx-auto" style="margin-top: 20px">
                                    <button type="submit" class="btn  btn-large py-2 login">
                                        <span class="font-weight-bold">{{title}}</span>
                                    </button>
                                    <button type="reset" class="btn  btn-large py-2 btn-outline-danger signin">
                                        <span class="font-weight-bold">Annuler</span>
                                    </button>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}